<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link of CSS files -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}" href="../static/assets/css/flaticon.css">
    <link rel="stylesheet" th:href="@{/assets/css/remixicon.css}" href="../static/assets/css/remixicon.css">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}"
          href="../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/swiper-min.css}" href="../static/assets/css/swiper-min.css">
    <link rel="stylesheet" th:href="@{/assets/css/fancybox.css}" href="../static/assets/css/fancybox.css">
    <link rel="stylesheet" th:href="@{/assets/css/aos.css}" href="../static/assets/css/aos.css">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}" href="../static/assets/css/responsive.css">
    <link rel="stylesheet" th:href="@{/assets/css/dark-theme.css}" href="../static/assets/css/dark-theme.css">
    <link th:href="@{/assets/bootstrap-icons/bootstrap-icons.css}"
          href="../static/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <title>Add Jury To Contest</title>
    <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png">
</head>
<body>

<!--Preloader starts-->
<div class="loader js-preloader">
    <img th:src="@{/assets/img/preloader.gif}" src="../static/assets/img/preloader.gif" alt="Image">
</div>
<!--Preloader ends-->

<!-- Theme Switcher Start -->
<div th:replace="~{ThemeSwitcherFragment::fragment}">
</div>
<!-- Theme Switcher End -->

<div class="page-wrapper">

    <header th:replace="~{HeaderFragment ::fragment}"></header>

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <img th:src="@{/assets/img/breadcrumb/br-shape.png}"
             src="../static/assets/img/breadcrumb/br-shape.png" alt="Image" class="br-shape">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumb-title">
                        <h3>
                            <a th:href="@{/contests}" href="#"
                               th:text="#{nav.menu.contests} + ' '">
                                Contests
                            </a>
                            <a th:href="@{/contests/{contestId}(contestId=${contestId})}" href="#"
                               th:text="${contest.getTitle()} + ' '">
                                contestTitle
                            </a>
                            <span th:text="'Eligible For Jury'"> Eligible For Jury</span>
                        </h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="rankings-info" align="right">
                        <a class="btn style1" th:href="@{/contests/new}" href="#" th:text="#{nav.menu.new.contest}">Create
                            new contest</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Testimonial Section Start -->
    <section class="testimonial-wrap ptb-100">
        <div class="container" th:if="${!users.isEmpty()}">
            <div class="row justify-content-center">
                <div class="product-filter-wrap">
                    <div class="user-filters">
                        <form th:action="@{/contests/{contestId}/jury/eligible(contestId=${contestId})}"
                              th:object="${userFilterOptions}" method="get" action="#">
                            <div class="search-text">
                                <label for="username-filter" th:text="'Username'">Username</label>
                                <input id="username-filter" th:field="*{username}" type="text" placeholder="Username">
                            </div>
                            <div class="search-text">
                                <label for="name-filter" th:text="'Last Name'">Last Name</label>
                                <input id="name-filter" th:field="*{lastName}" type="text" placeholder="Last Name">
                            </div>
                            <div class="search-number">
                                <label for="points-filter" th:text="'Min points'">Min points</label>
                                <input id="points-filter" th:field="*{minPoints}" type="number" placeholder="150" step="1"
                                       min="150">
                            </div>
                            <div class="user-filter-submit">
                                <input type="submit" value="Search">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" th:each="user : ${users}">
                    <div class="testimonial-card style4">
                        <div class="user-img">
                            <img th:if="${profilePictureService.getCurrent(user) != null}"
                                 th:src="@{'/' + ${profilePictureService.getCurrent(user).getImage()}}"
                                 src="../static/assets/img/default_avatar.png" alt="Image"
                                 class="img-fluid h-auto rounded-3" width="100">
                            <img th:if="${profilePictureService.getCurrent(user) == null}"
                                 th:src="@{/assets/img/default_avatar.png}"
                                 src="../static/assets/img/default_avatar.png" alt="Image"
                                 class="img-fluid h-auto rounded-3" width="100">
                        </div>
                        <div class="client-info">
                            <h3 th:text="${user.getUsername()}">Username</h3>
                        </div>
                        <p class="client-quote" th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}">Full
                            Name</p>
                        <p class="client-quote" th:text="${user.getEmail()}">Email@abc.com</p>
                        <p class="client-quote" th:text="${user.getPoints()} + ' ' + #{dashboard.points}">123 points</p>
                        <div class="add-photo">
                            <form action="#"
                                  th:action="@{/contests/{contestId}/jury/eligible/{userId}(contestId=${contest.getId()}, userId=${user.getId()})}"
                                  method="get">
                                <button type="submit">
                                    <i class="col-xl-15 bi bi-plus-circle"><span th:text="' Add to this contest'"> Add to this contest</span></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="page-nav list-style mt-10">
                <li>
                    <a th:if="${currentPage > 1}"
                       th:href="@{'/contests/{contestId}/jury/eligible/page/' + ${currentPage - 1} + '/{username}&{lastName}&{points}'
             (contestId=${contestId}, username=${username}, lastName=${lastName}, points=${points})}"><i
                            class="flaticon-left-arrow"></i></a>
                </li>
                <li th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a th:if="${i==currentPage}" class="active" href="#"
                       th:href="@{'/contests/{contestId}/jury/eligible/page/' + ${i} + '/{username}&{lastName}&{points}'
             (contestId=${contestId}, username=${username}, lastName=${lastName}, points=${points})}"
                       th:text="${i}">1</a>
                    <a th:if="${i!=currentPage}" href="#"
                       th:href="@{'/contests/{contestId}/jury/eligible/page/' + ${i} + '/{username}&{lastName}&{points}'
             (contestId=${contestId}, username=${username}, lastName=${lastName}, points=${points})}"
                       th:text="${i}">1</a>
                </li>
                <li>
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'/contests/{contestId}/jury/eligible/page/' + ${currentPage + 1} + '/{username}&{lastName}&{points}'
             (contestId=${contestId}, username=${username}, lastName=${lastName}, points=${points})}"><i
                            class="flaticon-right-arrow-1"></i></a>
                </li>
            </ul>
        </div>
        <div class="container photo-score" th:if="${users.isEmpty()}">
            <h1 th:text="#{contest.jury.eligible.empty}">There is no eligible jury!</h1>
        </div>
    </section>
    <!-- Testimonial Section End -->
    <footer th:replace="~{FooterFragment :: fragment}"></footer>
</div>
<!-- Back-to-top button Start -->
<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
<!-- Back-to-top button End -->

<!-- Link of JS files -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/form-validator.min.js}"></script>
<script th:src="@{/assets/js/contact-form-script.js}"></script>
<script th:src="@{/assets/js/aos.js}"></script>
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/swiper-min.js}"></script>
<script th:src="@{/assets/js/fancybox.js}"></script>
<script th:src="@{/assets/js/jquery.appear.js}"></script>
<script th:src="@{/assets/js/tweenmax.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>