<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link of CSS files -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}" href="../static/assets/css/flaticon.css">
    <link rel="stylesheet" th:href="@{/assets/css/remixicon.css}" href="../static/assets/css/remixicon.css">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}"
          href="../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/swiper-min.css}" href="../static/assets/css/swiper-min.css">
    <link rel="stylesheet" th:href="@{/assets/css/fancybox.css}" href="../static/assets/css/fancybox.css">
    <link rel="stylesheet" th:href="@{/assets/css/aos.css}" href="../static/assets/css/aos.css">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}" href="../static/assets/css/responsive.css">
    <link rel="stylesheet" th:href="@{/assets/css/dark-theme.css}" href="../static/assets/css/dark-theme.css">
    <link th:href="@{/assets/bootstrap-icons/bootstrap-icons.css}"
          href="../static/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <title th:text="#{photo.gallery.photo.add.contest}">Add photo to contest</title>
    <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png">
</head>
<body>

<!--Preloader starts-->
<div class="loader js-preloader">
    <img th:src="@{/assets/img/preloader.gif}" src="../static/assets/img/preloader.gif" alt="Image">
</div>
<!--Preloader ends-->

<!-- Theme Switcher Start -->
<div th:replace="~{ThemeSwitcherFragment::fragment}">
</div>
<!-- Theme Switcher End -->

<div class="page-wrapper">

    <header th:replace="~{HeaderFragment ::fragment}"></header>
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <img th:src="@{/assets/img/breadcrumb/br-shape.png}"
             src="../static/assets/img/breadcrumb/br-shape.png" alt="Image" class="br-shape">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumb-title">
                        <h3>
                            <a th:href="@{/users/{userId}(userId=${userId})}" href="#"
                               th:text="#{photo.gallery.photo.add.contest}">
                                add photo to contest
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="rankings-info" align="right">
                        <a class="btn style1" th:text="#{photo.gallery.new.photo}"
                           href="#" th:href="@{/users/{userId}/photos/new(userId=${currentUser.getId()})}">Upload New
                            Photo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Testimonial Section Start -->
    <section class="testimonial-wrap ptb-100">
        <div class="container" th:if="${!contests.isEmpty()}">
            <div class="row justify-content-center">
                <div class="product-filter-wrap">
                    <div class="user-filters">
                        <form th:action="@{/users/{userId}/photos/{photoId}/openContests(userId=${userId}, photoId=${photoId})}"
                              th:object="${contestFilterOptions}" method="get" action="#">
                            <div class="search-text">
                                <label for="title-filter" th:text="'Title'">Title</label>
                                <input id="title-filter" th:field="*{title}" type="text" placeholder="Title">
                            </div>
                            <div class="search-text">
                                <label for="story-filter" th:text="'Category'">Category</label>
                                <input id="story-filter" th:field="*{category}" type="text" placeholder="Category">
                            </div>
                            <div class="user-filter-submit">
                                <input type="submit" value="Search">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" th:each="contest : ${contests}">
                    <div class="testimonial-card style4">
                        <div class="client-img">
                            <img th:if="${contest.getCoverPhoto() != null}"
                                 th:src="@{${'/' + contest.getCoverPhoto().getImage()}}"
                                 th:alt="${contest.getCoverPhoto().getTitle()}"
                                 src="" alt="Image">
                            <img th:if="${contest.getCoverPhoto() == null}"
                                 th:src="@{/assets/img/mystery-box.jpg}"
                                 src="" alt="Image">
                        </div>
                        <div class="client-info">
                            <h3 th:text="${contest.getTitle()}">Contest Title</h3>
                        </div>
                        <h6 class="client-quote"
                            th:text="#{dashboard.contests.my.contests.create.date} + ' ' + ${contest.getCreatedDate().toLocalDate()}">
                            Created:
                            20.04.2023
                        </h6>
                        <h6 class="client-quote"
                            th:text="#{dashboard.contests.my.contests.category} + ' ' + ${contest.getCategory().getName()}">
                            categories
                        </h6>
                        <br/>
                        <div class="add-photo">
                            <form action="#"
                                  onsubmit="return confirm('You cannot revert this action. Please confirm.');"
                                  th:action="@{/users/{userId}/photos/{photoId}/openContests/{contestId}
                              (userId=${userId}, photoId=${photoId}, contestId=${contest.getId()})}"
                                  method="get">
                                <button type="submit">
                                    <i class="col-xl-15 bi bi-plus-circle"><span th:text="' Add to this contest'"> Add to this contest</span></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="page-nav list-style mt-10">
                <li>
                    <a th:if="${currentPage > 1}"
                       th:href="@{'/users/{userId}/photos/{photoId}/openContests/page/' + ${currentPage - 1} + '/{title}&{category}'
                       (userId=${userId}, title=${title}, category=${category})}"><i
                            class="flaticon-left-arrow"></i></a>
                </li>
                <li th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a th:if="${i==currentPage}" class="active" href="#"
                       th:href="@{'/users/{userId}/photos/{photoId}/openContests/page/' + ${i} + '/{title}&{category}'
                       (userId=${userId}, photoId=${photoId}, title=${title}, category=${category})}"
                       th:text="${i}">1</a>
                    <a th:if="${i!=currentPage}" href="#"
                       th:href="@{'/users/{userId}/photos/{photoId}/openContests/page/' + ${i} + '/{title}&{category}'
                       (userId=${userId}, photoId=${photoId}, title=${title}, category=${category})}"
                       th:text="${i}">1</a>
                </li>
                <li>
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'/users/{userId}/photos/{photoId}/openContests/page/' + ${currentPage + 1} + '/{title}&{category}'
                       (userId=${userId}, photoId=${photoId}, title=${title}, category=${category})}"><i
                            class="flaticon-right-arrow-1"></i></a>
                </li>
            </ul>
        </div>
        <div class="container photo-score" th:if="${contests.isEmpty()}">
            <h1 th:text="#{photo.gallery.photo.add.contest.no.contests}">There are no contests in phase one!</h1>
        </div>
    </section>
    <!-- Testimonial Section End -->
    <footer th:replace="~{FooterFragment :: fragment}"></footer>
</div>
<!-- Back-to-top button Start -->
<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
<!-- Back-to-top button End -->

<!-- Link of JS files -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/form-validator.min.js}"></script>
<script th:src="@{/assets/js/contact-form-script.js}"></script>
<script th:src="@{/assets/js/aos.js}"></script>
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/swiper-min.js}"></script>
<script th:src="@{/assets/js/fancybox.js}"></script>
<script th:src="@{/assets/js/jquery.appear.js}"></script>
<script th:src="@{/assets/js/tweenmax.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>