<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link of CSS files -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}" href="../static/assets/css/flaticon.css">
    <link rel="stylesheet" th:href="@{/assets/css/remixicon.css}" href="../static/assets/css/remixicon.css">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}"
          href="../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/swiper-min.css}" href="../static/assets/css/swiper-min.css">
    <link rel="stylesheet" th:href="@{/assets/css/fancybox.css}" href="../static/assets/css/fancybox.css">
    <link rel="stylesheet" th:href="@{/assets/css/aos.css}" href="../static/assets/css/aos.css">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}" href="../static/assets/css/responsive.css">
    <link rel="stylesheet" th:href="@{/assets/css/dark-theme.css}" href="../static/assets/css/dark-theme.css">
    <title>Show All Users</title>
    <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png">
</head>

<body>

<!--Preloader starts-->
<!--<div class="loader js-preloader">-->
<!--    <img th:src="@{/assets/img/preloader.gif}" src="../static/assets/img/preloader.gif" alt="Image">-->
<!--</div>-->
<!--Preloader ends-->

<!-- Theme Switcher Start -->
<div th:replace="~{ThemeSwitcherFragment::fragment}">
</div>
<!-- Theme Switcher End -->

<!-- Page Wrapper End -->
<div class="page-wrapper">

    <!-- Header Section Start -->
    <header th:replace="~{HeaderFragment ::fragment}"></header>
    <!-- Header Section End -->

    <!-- Shop Start -->
    <div class="shop-wrap pt-100 mt-50">
        <div class="container">
            <div class="product-filter-wrap">
                <div class="row gx-5">

                    <div>
                        <form th:action="@{/users}"
                              th:object="${userFilterOptions}" method="get" action="#">
                            <div class="row">
                            <div class="col-3">
                                <div class="filter-item-cat">
                                    <select th:field="*{organiser}">
                                        <option th:value="null" value="">Show All</option>
                                        <option th:value="false" value="">Show PhotoJunkies</option>
                                        <option  th:value="true" value="">Show Organisers</option>
                                    </select>
                                </div>
                            </div>
                            <div class="search-box col-9">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input style="width:25% " class="form-control" placeholder="first name"
                                               name="firstname" type="text" th:field="*{firstName}"/>
                                        <input style="width:25% " class="form-control " placeholder="last name"
                                               name="lastname" type="text" th:field="*{lastName}"/>
                                        <input style="width:25% " class="form-control " placeholder="min points"
                                               name="minpoints" type="text" th:field="*{minPoints}"/>
                                        <input style="width:25% " class="form-control " placeholder="max points"
                                               name="maxpoints" type="text" th:field="*{maxPoints}"/>
                                        <button type="submit">
                                            <i class="flaticon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Shop End -->

    <!-- PhotoJunkies List section start -->
    <div class="cart-wrap mt-3 pt-20 pb-75">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-12">
                    <div class="cart-table">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Name</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Points</th>
                                <th scope="col">Make Organiser</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user: ${users}">
                                <td>
                                    <div class="product-img">
                                        <img th:if="${profilePictureService.getCurrent(user) != null}"
                                             th:src="@{'/' + ${profilePictureService.getCurrent(user).getImage()}}"
                                             src="../static/assets/img/product/product-thumb-2.png" alt="Image">
                                        <img th:if="${profilePictureService.getCurrent(user) == null}"
                                             th:src="@{/assets/img/logo.png}"
                                             src="../static/assets/img/product/product-thumb-2.png" alt="Image">
                                    </div>
                                </td>
                                <td>
                                        <a th:text="${user.firstName + ' ' + user.lastName}" th:href="@{'/users/' + ${user.id}}" href="#">John Doe</a>
                                </td>
                                <td>
                                    <p th:text="${user.username}">JohnDoe90</p>
                                </td>
                                <td>
                                    <p th:text="${user.email}">Johnny@abs.bs</p>
                                </td>
                                <td>
                                    <p th:text="${user.points}">459</p>
                                </td>
                                <td>
                                    <a th:if="${!user.organiser}" th:href="@{/users/{id}/make-organiser(id=${user.id})}" href="#"
                                       class="btn style1 " onclick="return confirm('You cannot reverse this action. Please confirm to continue.');">Promote</a>

                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart section end -->

    <!-- Footer Section Start -->
    <footer th:replace="~{FooterFragment :: fragment}"></footer>
    <!-- Footer Section End -->

</div>
<!-- Page Wrapper End -->

<!-- Back-to-top button Start -->
<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
<!-- Back-to-top button End -->

<!-- Link of JS files -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/form-validator.min.js}"></script>
<script th:src="@{/assets/js/contact-form-script.js}"></script>
<script th:src="@{/assets/js/aos.js}"></script>
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/swiper-min.js}"></script>
<script th:src="@{/assets/js/fancybox.js}"></script>
<script th:src="@{/assets/js/jquery.appear.js}"></script>
<script th:src="@{/assets/js/tweenmax.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>

</html>