<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link of CSS files -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}" href="../static/assets/css/flaticon.css">
    <link rel="stylesheet" th:href="@{/assets/css/remixicon.css}" href="../static/assets/css/remixicon.css">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}"
          href="../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/swiper-min.css}" href="../static/assets/css/swiper-min.css">
    <link rel="stylesheet" th:href="@{/assets/css/fancybox.css}" href="../static/assets/css/fancybox.css">
    <link rel="stylesheet" th:href="@{/assets/css/aos.css}" href="../static/assets/css/aos.css">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}" href="../static/assets/css/responsive.css">
    <link rel="stylesheet" th:href="@{/assets/css/dark-theme.css}" href="../static/assets/css/dark-theme.css">
    <link th:href="@{/assets/bootstrap-icons/bootstrap-icons.css}"
          href="../static/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <title th:text="'Photo in contest'">photo in contest</title>
    <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png">
</head>
<body>

<div th:replace="ShareScriptFragment :: facebook-share-fragment"></div>

<!--Preloader starts-->
<div class="loader js-preloader">
    <img th:src="@{/assets/img/preloader.gif}" src="../static/assets/img/preloader.gif" alt="Image">
</div>
<!--Preloader ends-->

<!-- Theme Switcher Start -->
<div th:replace="~{ThemeSwitcherFragment::fragment}">
</div>
<!-- Theme Switcher End -->

<div class="page-wrapper">

    <header th:replace="~{HeaderFragment ::fragment}"></header>

    <div class="blog-details-wrap ptb-100">
        <div class="container">
            <div class="row gx-5">
                <div class="col-xl-10 offset-xl-1 col-lg-12">
                    <article class="photo-score">
                        <h1 th:text="${photo.getTitle()}">8 Key Differences You Need To Know Before Buying Camera</h1>
                        <ul class="post-metainfo  list-style">
                            <h5 th:text="#{contest.photo.score.contest.name} + ${contest.getTitle()}">Nature</h5>
                        </ul>
                        <div class="post-img bigger-hover">
                            <img th:src="@{${'/' + photo.getImage()}}" th:alt="${photo.getTitle()}" src=""
                                 alt="PhotoInContest"/>
                        </div>
                        <div class="post-para">
                            <p th:text="${photo.getStory()}">LOREM IPSUM PHOTO STORY</p>
                        </div>
                    </article>
                    <div class="post-meta-option">
                        <div class="row gx-0 align-items-center">
                            <div class="col-md-7 col-12">
                                <div class="post-tag">
                                    <span th:text="#{dashboard.contests.my.contests.category}">Category:</span>
                                    <ul class="tag-list style2 list-style">
                                        <li><a th:href="@{/contests}"
                                               th:text="${contest.getCategory().getName()}">Photo</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post-author">
                        <img th:if="${profilePictureService.getCurrent(photo.getAuthor()) != null}"
                             th:src="@{'/' + ${profilePictureService.getCurrent(photo.getAuthor()).getImage()}}"
                             src="../static/assets/img/default_avatar.png" alt="Image"
                             class="img-fluid h-auto rounded-3" width="100">
                        <img th:if="${profilePictureService.getCurrent(photo.getAuthor()) == null}"
                             th:src="@{/assets/img/default_avatar.png}"
                             src="../static/assets/img/default_avatar.png" alt="Image"
                             class="img-fluid h-auto rounded-3" width="100">
                        <div class="post-author-info">
                            <h4 th:text="${photo.getAuthor().getUsername()}">
                                <a href="#" th:href="@{/users/{userId}/photos(userId=${photo.getAuthor().getId()})}">Fransis
                                    Josef</a>
                            </h4>
                            <div class="share-wrap">
                                <button><i class="ri-share-fill"></i></button>
                                <div class="overlay">
                                    <div class="share">
                                        <button class="fb-share-button"
                                                th:data-href="${#ctx.springRequestContext.requestUri}"
                                                data-layout="button_count">
                                            <i class="ri-facebook-line"></i>
                                        </button>
<!--                                        <button>-->
<!--                                            <i class="ri-twitter-line"></i>-->
<!--                                        </button>-->
<!--                                        <button>-->
<!--                                            <i class="ri-instagram-line"></i>-->
<!--                                        </button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-box-wrap" th:if="${isPhaseFinal || isPhase2}">
                        <div class="comment-box-title mb-30">
                            <h4 th:text="${scores.size()} + ' ' + #{contest.photo.score.sizes}">3 Scores</h4>
                        </div>
                        <div class="comment-item-wrap" th:each="score: ${scores}">
                            <div class="comment-item">
                                <img th:if="${profilePictureService.getCurrent(score.getJuror()) != null}"
                                     th:src="@{'/' + ${profilePictureService.getCurrent(score.getJuror()).getImage()}}"
                                     src="../static/assets/img/default_avatar.png" alt="Image"
                                     class="img-fluid h-auto rounded-3" width="100">
                                <img th:if="${profilePictureService.getCurrent(score.getJuror()) == null}"
                                     th:src="@{/assets/img/default_avatar.png}"
                                     src="../static/assets/img/default_avatar.png" alt="Image"
                                     class="img-fluid h-auto rounded-3" width="100">
                                <div class="comment-author-wrap">
                                    <div class="comment-author-info">
                                        <div class="row align-items-start">
                                            <div class="col-md-9 col-sm-12 col-12 order-md-1 order-sm-1 order-1">
                                                <div class="comment-author-name">
                                                    <h4 th:text="${score.getJuror().getUsername()}">Alivic Dsuza</h4>
                                                </div>
                                                <div class="comment-author-info">
                                                    <h3 th:text="#{contest.photo.score.points} + ${score.getPoints()}">
                                                        Score: 10</h3>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-12 order-md-3 order-sm-2 order-2">
                                                <div class="comment-text">
                                                    <p th:text="${score.getComment()}">Lorem ipsum dolor sit amet,
                                                        consetetur sadipscing elitr,
                                                        sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                                        magna aliquyam erat.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="cmt-form" th:if="${isPhase2 && isJury}">
                            <div class="comment-box-title mb-25">
                                <h4 th:text="#{contest.photo.score.add}">Leave A Score</h4>
                            </div>
                            <form spellcheck="true" action="#"
                                  onsubmit="return confirm('Please confirm score submit. You cannot change later!');"
                                  th:action="@{/contests/{contestId}/photos/{photoId}/addScore(contestId=${contestId}, photoId=${photoId})}"
                                  method="post" th:object="${scoreDto}" class="comment-form">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="number" step="1" min="1" placeholder="1" th:field="*{score}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <textarea name="messages" id="messages" cols="30" rows="10"
                                                      placeholder="Please Enter Your Comment Here"
                                                      th:field="*{comment}"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center">
<!--                                    <div class="col-md-12">-->
<!--                                        <div class="form-check checkbox">-->
<!--                                            <input class="form-check-input" type="checkbox" id="test_2"-->
<!--                                                   th:field="*{wrongCategory}" onClick="this.checked=!this.checked;">-->
<!--                                            <label class="form-check-label" for="test_2">-->
<!--                                                This photo does not fit the contest category.-->
<!--                                            </label>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <div class="col-md-12">
                                        <button class="btn style1" th:text="#{contest.photo.score.post}">POST SCORE
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{FooterFragment :: fragment}"></footer>
</div>
<!-- Back-to-top button Start -->
<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
<!-- Back-to-top button End -->

<!-- Link of JS files -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/form-validator.min.js}"></script>
<script th:src="@{/assets/js/contact-form-script.js}"></script>
<script th:src="@{/assets/js/aos.js}"></script>
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/swiper-min.js}"></script>
<script th:src="@{/assets/js/fancybox.js}"></script>
<script th:src="@{/assets/js/jquery.appear.js}"></script>
<script th:src="@{/assets/js/tweenmax.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<script th:replace="~{ShareScriptFragment :: share-fragment}"></script>
</body>
</html>