<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link of CSS files -->

    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css"
          th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/assets/css/flaticon.css"
          th:href="@{/assets/css/flaticon.css}">
    <link rel="stylesheet" href="../static/assets/css/remixicon.css"
          th:href="@{/assets/css/remixicon.css}">
    <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css"
          th:href="@{/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" href="../static/assets/css/swiper-min.css"
          th:href="@{/assets/css/swiper-min.css}">
    <link rel="stylesheet" href="../static/assets/css/fancybox.css"
          th:href="@{/assets/css/fancybox.css}">
    <link rel="stylesheet" href="../static/assets/css/aos.css"
          th:href="@{/assets/css/aos.css}">
    <link rel="stylesheet" href="../static/assets/css/style.css"
          th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" href="../static/assets/css/responsive.css"
          th:href="@{/assets/css/responsive.css}">
    <link rel="stylesheet" href="../static/assets/css/dark-theme.css"
          th:href="@{/assets/css/dark-theme.css}">
    <title th:text="${'Contest:' + contest.getTitle()}">Povi - Photography & Videography Services HTML Template</title>
    <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png">
</head>

<body>

<!--Preloader starts-->
<div class="loader js-preloader">
    <img th:src="@{/assets/img/preloader.gif}" src="../static/assets/img/preloader.gif" alt="Image">
</div>
<!--Preloader ends-->

<!-- Theme Switcher Start -->
<div th:replace="~{ThemeSwitcherFragment::fragment}">
</div>
<!-- Theme Switcher End -->

<!-- Page Wrapper End -->
<div class="page-wrapper">

    <!-- Header Section Start -->
    <header th:replace="~{HeaderFragment ::fragment}"></header>
    <!-- Header Section End -->

    <!-- Content Wrapper Start -->
    <div class="content-wrapper">

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <img th:src="@{/assets/img/breadcrumb/br-shape.png}"
                 src="../static/assets/img/breadcrumb/br-shape.png" alt="Image" class="br-shape">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumb-title">
                            <h2>Contest</h2>
                            <ul class="breadcrumb-menu list-style">
                                <li><a th:href="@{/}" href="index.html">Home </a></li>
                                <li><a th:href="@{/contests}" href="blog-no-sidebar.html">All Contests </a></li>
                                <li>Contest Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Blog Details Section Start -->
        <div class="blog-details-wrap ptb-100">
            <div class="container">
                <div class="row gx-5">
                    <div class="col-xl-8 col-lg-12">
                        <article>
                            <h1 th:text="${contest.getTitle()}">8 Key Differences You Need To Know Before Buying
                                Camera</h1>
                            <ul class="post-metainfo  list-style">
                                <li><a th:text="${#temporals.format(contest.getCreatedDate() , 'dd MMMM,yyy')}"
                                       href="#">Jun 22, 2022</a>
                                </li>
                                <li><a th:text="${contest.getPhase()}"
                                       href="#">PHASE1 ONE</a>
                                </li>
                            </ul>
                            <div class="post-img">
                                <img width="500" th:if="${contest.getCoverPhoto() != null}"
                                     th:src="@{${'/' + contest.getCoverPhoto().getImage()}}"
                                     th:alt="${contest.getCoverPhoto().getTitle()}"
                                     alt="Image">
                                <img width="500" th:if="${contest.getCoverPhoto() == null}"
                                     th:src="@{/assets/img/mystery-box.jpg}"
                                     alt="Image">
                            </div>
                            <div class="post-para">
                                <h3 th:text="'Photos entered in this Contest'">Commodo Viverra Manas Accumsan Sit</h3>

                                <div class="row">
                                    <div class="col-lg-6" th:each="photo :${contestPhotos}">
                                        <div class="post-img">
                                            <a href="#" th:href="@{/contests/{contestId}/photos/{photoId}
                                            (contestId = ${contest.getId()}, photoId= ${photo.getId()})}">
                                                <img th:src="@{'/' + ${photo.getImage()}}"
                                                     src="../static/assets/img/blog/blog-7.jpg" alt="Image">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>


                    </div>
                    <div  class="col-xl-4 col-lg-12">
                        <div class="sidebar">
                            <div class="sidebar-widget style4">
                                <div class="search-box">
                                    <div class="form-group" >
                                        <i class="flaticon-calendar" th:text="#{contest.countdown}">Time left until next
                                            phase:</i>
                                        <div id="countdown">12D 24H 12M 12S</div>
                                    </div>
                                </div>
                                <br>
                                <div class="post-tag" th:if="${contest.getPhase().toString() != 'FINAL'}">
                                    <span>Category:</span>
                                    <ul class="tag-list style2 list-style">
                                        <li><a th:text="${contest.getCategory().name}"
                                               href="posts-by-tag.html">Photo</a>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                                <div class="col-md-12" th:if="${isOrganiser &&contest.getPhase().toString() != 'FINAL'}" >
                                    <a th:href="@{/contests/{contestId}/update(contestId = ${contest.getId()})}">
                                        <button class="btn style1">Upload Cover Photo</button>
                                    </a>
                                </div>
                                <br/>
                                <br/>
                                <div class="col-md-12">
                                    <a th:href="@{/contests/{contestId}/jury(contestId = ${contest.getId()})}">
                                        <button class="btn style1">Check current jury</button>
                                    </a>
                                </div>
                                <br/>
                                <br/>
                                <div class="col-md-12" th:if="${isOrganiser && contest.getPhase().toString() != 'FINAL'}" >
                                    <a th:href="@{/contests/{contestId}/jury/eligible(contestId = ${contest.getId()})}">
                                        <button class="btn style1">Add jury to contest</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Details Section End -->

</div>
<!-- Content Wrapper End -->

<!-- Footer Section Start -->
<footer th:replace="~{FooterFragment :: fragment}"></footer>
<!-- Footer Section End -->

</div>
<!-- Page Wrapper End -->

<!-- Back-to-top button Start -->
<a th:href="@{/javascript:void(0)}" href="javascript:void(0)" class="back-to-top bounce"><i
        class="ri-arrow-up-s-line"></i></a>
<!-- Back-to-top button End -->

<!-- Link of JS files -->
<script th:src="@{/assets/js/jquery.min.js}" src="../static/assets/js/jquery.min.js"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}" src="../static/assets/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/assets/js/form-validator.min.js}" src="../static/assets/js/form-validator.min.js"></script>
<script th:src="@{/assets/js/contact-form-script.js}" src="../static/assets/js/contact-form-script.js"></script>
<script th:src="@{/assets/js/aos.js}" src="../static/assets/js/aos.js"></script>
<script th:src="@{/assets/js/owl.carousel.min.js}" src="../static/assets/js/owl.carousel.min.js"></script>
<script th:src="@{/assets/js/swiper-min.js}" src="../static/assets/js/swiper-min.js"></script>
<script th:src="@{/assets/js/fancybox.js}" src="../static/assets/js/fancybox.js"></script>
<script th:src="@{/assets/js/jquery.appear.js}" src="../static/assets/js/jquery.appear.js"></script>
<script th:src="@{/assets/js/tweenmax.min.js}" src="../static/assets/js/tweenmax.min.js"></script>
<script th:src="@{/assets/js/main.js}" src="../static/assets/js/main.js"></script>
<script th:replace="~{CountdownScriptFragment::countdown}"></script>
</body>

</html>