<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link of CSS files -->

    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}" href="../static/assets/css/flaticon.css">
    <link rel="stylesheet" th:href="@{/assets/css/remixicon.css}" href="../static/assets/css/remixicon.css">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}"
          href="../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/swiper-min.css}" href="../static/assets/css/swiper-min.css">
    <link rel="stylesheet" th:href="@{/assets/css/fancybox.css}" href="../static/assets/css/fancybox.css">
    <link rel="stylesheet" th:href="@{/assets/css/aos.css}" href="../static/assets/css/aos.css">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}" href="../static/assets/css/responsive.css">
    <link rel="stylesheet" th:href="@{/assets/css/dark-theme.css}" href="../static/assets/css/dark-theme.css">
    <title>All Contests</title>
    <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png">
</head>

<body>

<!--Preloader starts-->
<div class="loader js-preloader">
    <img th:src="@{/assets/img/preloader.gif}" src="../static/assets/img/preloader.gif" alt="Image">
</div>
<!--Preloader ends-->

<!-- Theme Switcher Start -->
<div th:replace="~{ThemeSwitcherFragment::fragment}">
</div>
<!-- Theme Switcher End -->

<!-- Page Wrapper End -->

<div class="page-wrapper">

    <header th:replace="~{HeaderFragment ::fragment}"></header>
    <!-- Header Section End -->

    <!-- Content Wrapper Start -->
    <div class="content-wrapper">

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <img th:src="@{/assets/img/breadcrumb/br-shape.png}"
                 src="../static/assets/img/breadcrumb/br-shape.png" alt="Image" class="br-shape">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumb-title">
                            <h2>All Contests</h2>
                            <ul class="breadcrumb-menu list-style">
                                <li><a th:href="@{/}" href="index.html">Home </a></li>
                                <li>Contests</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="breadcrumb-img">
                            <img th:src="@{/assets/img/br-1.png}"
                                 src="../static/assets/img/br-1.png"
                                 alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Blog Details Section Start -->
        <div class="blog-details-wrap ptb-100">
            <div class="container">
                <div class="row gx-5">
                    <div class="col-xl-4 col-lg-12 order-xl-1 order-lg-2 order-md-2 order-2">
                        <div class="sidebar">
                            <div class="sidebar-widget style4">
                                <form th:action="@{/contests}"
                                      th:object="${filterOptions}" method="get" action="#">
                                    <div class="search-box">
                                        <div class="form-group">
                                            <input th:field="*{title}" type="text" placeholder="Search By Title">

                                        </div>

                                  </div>
                                    <br>
                                    <div class="search-box">
                                        <div class="form-group">
                                            <input th:field="*{category}" type="text"
                                                   placeholder="Search  By Category">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="search-box">
                                        <div class="form-group">
                                            <select type="search" th:field="*{phase}">
                                                <option value="">Search By Phase</option>
                                                <option value="PHASEONE">Phase One</option>
                                                <option value="PHASETWO">Phase Two</option>
                                                <option value="FINAL">Final</option>
                                            </select>

                                        </div>
                                    </div>
                                    <br>
                                    <div class="search-box">
                                     <input class ="flatiron-search-2" type="submit" value="Search">
                                    </div>
                                </form>
                            </div>

                            <div class="sidebar-widget categories">
                                <h4>Category</h4>
                                <div class="category-box">
                                    <ul class="list-style" th:each="category: ${categories}">
                                        <li>
                                            <a th:href="@{posts-by-category.html}" href="posts-by-category.html">
                                                <i class="flaticon-right-arrow"></i>
                                                <p th:text="${category.getName()}"></p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sidebar-widget popular-post">
                                <h4>Recent Contest</h4>
                                <div class="popular-post-widget">
                                    <div class="pp-post-item" th:each="recentContest :${recentContests}">
                                        <a href="blog-details-right-sidebar.html" class="pp-post-img">
                                            <img width="201" th:if="${recentContest.getCoverPhoto() != null}"
                                                 th:src="@{${'/' + recentContest.getCoverPhoto().getImage()}}"
                                                 th:alt="${recentContest.getCoverPhoto().getTitle()}"
                                                 src="../static/assets/img/blog/post-thumb-1.jpg" alt="Image">
                                            <img width="201" th:if="${recentContest.getCoverPhoto() == null}"
                                                 th:src="@{/assets/img/mystery-box.jpg}"
                                                 src="../static/assets/img/mystery-box.jpg" alt="Image">
                                        </a>
                                        <div class="pp-post-info">
                                            <h6>
                                                <a href="blog-details-no-sidebar.html"
                                                   th:href="@{/contests/{id}(id = ${recentContest.getId()})}"
                                                   th:text="${recentContest.getTitle()}"
                                                >Best Places For An Outdoor Family Photoshoot
                                                </a>
                                            </h6>
                                            <span th:text="${#temporals.format(recentContest.getCreatedDate() , 'dd MMMM, yyy')}"
                                            > Jun 22, 2022</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                           <a th:href="@{/contests/new}" >
                            <button class="btn style1">CREATE CONTEST</button>
                        </a>

                    </div>
                    <div class="col-xl-8 col-lg-12 order-xl-2 order-lg-1 order-md-1 order-1">
                        <div class="row justify-content-center">
                            <div class="col-xl-6 col-lg-6 col-md-6" th:each="contest :${contests}">
                                <div class="blog-card style4">
                                    <div class="blog-img">
                                        <a href="#" th:href="@{/contests/{id}(id = ${contest.getId()})}">
                                            <img width="400" th:if="${contest.getCoverPhoto() != null}"
                                                 th:src="@{${'/' + contest.getCoverPhoto().getImage()}}"
                                                 th:alt="${contest.getCoverPhoto().getTitle()}"
                                                 src="../static/assets/img/blog/blog-1.jpg" alt="Image">
                                            <img width="400" th:if="${contest.getCoverPhoto() == null}"
                                                 th:src="@{/assets/img/mystery-box.jpg}"
                                                 src="../static/assets/img/mystery-box.jpg" alt="Image">
                                        </a>
                                    </div>
                                    <div class="blog-info">
                                        <h3><a href="blog-details-right-sidebar.html"
                                               th:href="@{/contests/{id}(id = ${contest.getId()})}"
                                               th:text="${contest.getTitle()}">8 Key Differences You Need To Know Before
                                            Buying Camera</a></h3>
                                        <h5 th:href="@{/contests/{id}(id = ${contest.getId()})}"
                                            th:text="'Phase: ' + ${contest.getPhase().toStringFormatted()}">Contest:
                                            phase</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Details Section End -->
    </div>
    <!-- Content Wrapper End -->

    <!-- Footer Section Start -->
    <footer th:replace="~{FooterFragment :: fragment}"></footer>
    <!-- Footer Section End -->

</div>
<!-- Page Wrapper End -->

<!-- Back-to-top button Start -->
<a th:href="@{/javascript:void(0)}" href="javascript:void(0)" class="back-to-top bounce"><i
        class="ri-arrow-up-s-line"></i></a>
<!-- Back-to-top button End -->

<!-- Link of JS files -->
<script th:src="@{/assets/js/jquery.min.js}" src="../static/assets/js/jquery.min.js"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}" src="../static/assets/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/assets/js/form-validator.min.js}" src="../static/assets/js/form-validator.min.js"></script>
<script th:src="@{/assets/js/contact-form-script.js}" src="../static/assets/js/contact-form-script.js"></script>
<script th:src="@{/assets/js/aos.js}" src="../static/assets/js/aos.js"></script>
<script th:src="@{/assets/js/owl.carousel.min.js}" src="../static/assets/js/owl.carousel.min.js"></script>
<script th:src="@{/assets/js/swiper-min.js}" src="../static/assets/js/swiper-min.js"></script>
<script th:src="@{/assets/js/fancybox.js}" src="../static/assets/js/fancybox.js"></script>
<script th:src="@{/assets/js/jquery.appear.js}" src="../static/assets/js/jquery.appear.js"></script>
<script th:src="@{/assets/js/tweenmax.min.js}" src="../static/assets/js/tweenmax.min.js"></script>
<script th:src="@{/assets/js/main.js}" src="../static/assets/js/main.js"></script>
</body>

</html>