<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link of CSS files -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}" href="../static/assets/css/flaticon.css">
    <link rel="stylesheet" th:href="@{/assets/css/remixicon.css}" href="../static/assets/css/remixicon.css">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}"
          href="../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/swiper-min.css}" href="../static/assets/css/swiper-min.css">
    <link rel="stylesheet" th:href="@{/assets/css/fancybox.css}" href="../static/assets/css/fancybox.css">
    <link rel="stylesheet" th:href="@{/assets/css/aos.css}" href="../static/assets/css/aos.css">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}" href="../static/assets/css/responsive.css">
    <link rel="stylesheet" th:href="@{/assets/css/dark-theme.css}" href="../static/assets/css/dark-theme.css">
    <link th:href="@{/assets/bootstrap-icons/bootstrap-icons.css}"
          href="../static/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <title>Dashboard</title>
    <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png">
</head>
<body>

<!--Preloader starts-->
<div class="loader js-preloader">
    <img th:src="@{/assets/img/preloader.gif}" src="../static/assets/img/preloader.gif" alt="Image">
</div>
<!--Preloader ends-->

<!-- Theme Switcher Start -->
<div th:replace="~{ThemeSwitcherFragment::fragment}">
</div>
<!-- Theme Switcher End -->

<div class="page-wrapper">

    <header th:replace="~{HeaderFragment ::fragment}"></header>

    <div class="content-wrapper">
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <img th:src="@{/assets/img/breadcrumb/br-shape.png}"
                 src="../static/assets/img/breadcrumb/br-shape.png" alt="Image" class="br-shape">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumb-title">
                            <ul class="breadcrumb-menu list-style">
                                <h3 th:text="#{dashboard.welcome} + ' ' + ${session.currentUser}">
                                    Welcome! user
                                </h3>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="rankings-info" align="right">
                            <ul class="" th:if="${isAuthenticated}">
                                <a class="btn style1" th:href="@{/users/{userId}/photos/new(userId=${currentUser.getId()})}" href="#"
                                   th:text="#{photo.gallery.new.photo}">Create new contest</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Shop Start -->
        <div class="shop-wrap ptb-100">
            <div class="container">
                <div class="product-filter-wrap">
                    <div class="left-filter-column">
                        <form th:action="@{/my/junkie/ongoing}"
                              th:object="${contestFilterOptions}" method="get" action="#">
                            <div class="search-text">
                                <label for="username-filter" th:text="'Title'">Title</label>
                                <br/>
                                <input id="username-filter" th:field="*{title}" type="text" placeholder="Title">
                            </div>
                            <div class="search-text">
                                <label for="fname-filter" th:text="'Category'">Category</label>
                                <br/>
                                <input id="fname-filter" th:field="*{category}" type="text"
                                       placeholder="Category">
                            </div>
                            <div class="user-filter-submit">
                                <input type="submit" value="Search">
                            </div>
                        </form>
                    </div>
                    <div class="center-filter-column">
                        <div class="dropdown">
                            <button class="dropbtn">Contests</button>
                            <div class="dropdown-content">
                                <a href="#" th:href="@{/my}">Open contests</a>
                                <a href="#" th:href="@{/my/junkie/ongoing}">Contests I participate in</a>
                                <a href="#" th:href="@{/my/junkie/finished}">Finished contests I participated in</a>
                            </div>
                        </div>
                    </div>
                    <div class="right-filter-column">
                        <div class="product-result">
                            <p th:text="'Showing ' + ${contests.size()} + ' Results'">
                                Showing 20 Results</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-6" th:each="contest : ${contests}">
                        <div class="product-card">
                            <div class="product-img">
                                <img width="400" th:if="${contest.getCoverPhoto() != null}"
                                     th:src="@{${'/' + contest.getCoverPhoto().getImage()}}"
                                     th:alt="${contest.getCoverPhoto().getTitle()}"
                                     src="../static/assets/img/product/product-1.png" alt="Image">
                                <img width="400" th:if="${contest.getCoverPhoto() == null}"
                                     th:src="@{/assets/img/mystery-box.jpg}"
                                     src="../static/assets/img/mystery-box.jpg" alt="Image">
                            </div>
                            <div class="product-info">
                                <h3><a href="#" th:href="@{/contests/{id}(id=${contest.getId()})}"
                                       th:text="${contest.getTitle()}">Contest</a></h3>
                                <p class="product-price"
                                   th:text="#{dashboard.contests.my.contests.create.date} + ${contest.getCreatedDate().toLocalDate()}">
                                    Created:
                                    20.04.2023</p>
                                <p class="product-price"
                                   th:text="#{dashboard.contests.my.contests.category} + ${contest.getCategory().getName()}">
                                    Category:
                                    Nature</p>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="page-nav list-style mt-10" th:if="${!contests.isEmpty()}">
                    <li>
                        <a th:if="${currentPage > 1}"
                           th:href="@{'/my/junkie/ongoing/page/' + ${currentPage - 1} + '/{title}&{category}'
             (title=${title}, category=${category})}"><i class="flaticon-left-arrow"></i></a>
                    </li>
                    <li th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${i==currentPage}" class="active" href="#"
                           th:href="@{'/my/junkie/ongoing/page/' + ${i} + '/{title}&{category}'
             (title=${title}, category=${category})}">1</a>
                        <a th:if="${i!=currentPage}" href="#"
                           th:href="@{'/my/junkie/ongoing/page/' + ${i} + '/{title}&{category}'
             (title=${title}, category=${category})}">1</a>
                    </li>
                    <li>
                        <a th:if="${currentPage < totalPages}"
                           th:href="@{'/my/junkie/ongoing/page/' + ${currentPage + 1} + '/{title}&{category}'
             (title=${title}, category=${category})}"><i class="flaticon-right-arrow-1"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Shop End -->
    </div>

    <footer th:replace="~{FooterFragment :: fragment}"></footer>
</div>
<!-- Back-to-top button Start -->
<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
<!-- Back-to-top button End -->

<!-- Link of JS files -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/form-validator.min.js}"></script>
<script th:src="@{/assets/js/contact-form-script.js}"></script>
<script th:src="@{/assets/js/aos.js}"></script>
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/swiper-min.js}"></script>
<script th:src="@{/assets/js/fancybox.js}"></script>
<script th:src="@{/assets/js/jquery.appear.js}"></script>
<script th:src="@{/assets/js/tweenmax.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>