<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Link of CSS files -->
        <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" href="../static/assets/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}" href="../static/assets/css/flaticon.css">
        <link rel="stylesheet" th:href="@{/assets/css/remixicon.css}" href="../static/assets/css/remixicon.css">
        <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}" href="../static/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" th:href="@{/assets/css/swiper-min.css}" href="../static/assets/css/swiper-min.css">
        <link rel="stylesheet" th:href="@{/assets/css/fancybox.css}" href="../static/assets/css/fancybox.css">
        <link rel="stylesheet" th:href="@{/assets/css/aos.css}" href="../static/assets/css/aos.css">
        <link rel="stylesheet" th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css">
        <link rel="stylesheet" th:href="@{/assets/css/responsive.css}" href="../static/assets/css/responsive.css">
        <link rel="stylesheet" th:href="@{/assets/css/dark-theme.css}" href="../static/assets/css/dark-theme.css">
        <title th:text="${error}">error</title>
        <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png">
    </head>

    <body>
        <!-- Theme Switcher Start -->
        <div th:replace="~{ThemeSwitcherFragment :: fragment}">
        </div>
        <!-- Theme Switcher End -->

        <!-- Page Wrapper End -->
        <main class="page-wrapper">

            <!-- Content Wrapper Start -->
            <div class="content-wrapper">

                 <!-- Error  Section start -->
                 <div class="error-wrap ptb-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <div class="error-content">
                                    <img th:src="@{/assets/img/404.png}" src="../static/assets/img/404.png" alt="Image">
                                    <h2>Oops! Page Not Found</h2>
                                    <p th:text="${error}">The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
                                    <a th:href="@{/}" href="#" class="btn style1">Back to Home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Error  Section end -->

            </div>
            <!-- Content Wrapper End -->

            <!-- Footer Section Start -->
            <footer th:replace="~{FooterFragment :: fragment}" class="footer-wrap">
            </footer>
            <!-- Footer Section End -->
        
        </main>
        <!-- Page Wrapper End -->
        
        <!-- Back-to-top button Start -->
         <a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
        <!-- Back-to-top button End -->

        <!-- Link of JS files -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/assets/js/form-validator.min.js}"></script>
        <script th:src="@{/assets/js/contact-form-script.js}"></script>
        <script th:src="@{/assets/js/aos.js}"></script>
        <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
        <script th:src="@{/assets/js/swiper-min.js}"></script>
        <script th:src="@{/assets/js/fancybox.js}"></script>
        <script th:src="@{/assets/js/jquery.appear.js}"></script>
        <script th:src="@{/assets/js/tweenmax.min.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>
    </body>

</html>