<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link of CSS files -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}" href="../static/assets/css/flaticon.css">
    <link rel="stylesheet" th:href="@{/assets/css/remixicon.css}" href="../static/assets/css/remixicon.css">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}"
          href="../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/swiper-min.css}" href="../static/assets/css/swiper-min.css">
    <link rel="stylesheet" th:href="@{/assets/css/fancybox.css}" href="../static/assets/css/fancybox.css">
    <link rel="stylesheet" th:href="@{/assets/css/aos.css}" href="../static/assets/css/aos.css">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}" href="../static/assets/css/responsive.css">
    <link rel="stylesheet" th:href="@{/assets/css/dark-theme.css}" href="../static/assets/css/dark-theme.css">
    <title>FAQ</title>
    <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png">
</head>

<body>

<!--Preloader starts-->
<div class="loader js-preloader">
  <img th:src="@{/assets/img/preloader.gif}" src="../static/assets/img/preloader.gif" alt="Image">
</div>
<!--Preloader ends-->

<!-- Theme Switcher Start -->
<div th:replace="~{ThemeSwitcherFragment::fragment}">
</div>
<!-- Theme Switcher End -->

<!-- Page Wrapper End -->
<div class="page-wrapper">

    <!-- Header Section Start -->
    <header th:replace="~{HeaderFragment ::fragment}"></header>
    <!-- Header Section End -->

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <img src="../static/assets/img/breadcrumb/br-shape.png" th:src="@{/assets/img/breadcrumb/br-shape.png}" alt="Image" class="br-shape">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumb-title">
                        <h2>Frequently Asked Questions</h2>
                        <ul class="breadcrumb-menu list-style">
                            <li><a href="index.html">Home </a></li>
                            <li>FAQ</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="breadcrumb-img">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Breadcrumb End -->
    <!-- FAQ Section start -->
    <section class="faq-wrap pt-100 pb-75">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6">
                    <div class="accordion style2" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                    <img th:src="@{/assets/img/about/faq-shape.png}" src="../static/assets/img/about/faq-shape.png" alt="Image" class="faq-shape">
                                    <span>
                                                    <i class="ri-arrow-down-s-line plus"></i>
                                                    <i class="ri-arrow-up-s-line minus"></i>
                                                </span>
                                    What Type Of Photography Do You Specialize In?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="single-product-text">
                                        <p>We offer a place for all types of contests and photos.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                    <img th:src="@{/assets/img/about/faq-shape.png}" src="../static/assets/img/about/faq-shape.png" alt="Image" class="faq-shape">
                                    <span>
                                                    <i class="ri-arrow-down-s-line plus"></i>
                                                    <i class="ri-arrow-up-s-line minus"></i>
                                                </span>
                                    Will My Photos Appear In Your Website?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse "
                                 aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Every photo you upload can be freely viewed by any registered user.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                        aria-expanded="false" aria-controls="collapseThree">
                                    <img th:src="@{/assets/img/about/faq-shape.png}" src="../static/assets/img/about/faq-shape.png" alt="Image" class="faq-shape">
                                    <span>
                                                    <i class="ri-arrow-down-s-line plus"></i>
                                                    <i class="ri-arrow-up-s-line minus"></i>
                                                </span>
                                    How do contests work?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse"
                                 aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Contests have 3 phases. Phase one is when a normal user can attach their photos to the contest.
                                    Phase two is when an organiser or a jury of the contest can give a score and comment to the photos.
                                    After the contest is finished any registered user can view the score and comments in it.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="accordion style2" id="accordionExample_two">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading_One">
                                <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse_One"
                                        aria-expanded="false" aria-controls="collapse_One">
                                    <img th:src="@{/assets/img/about/faq-shape.png}" src="../static/assets/img/about/faq-shape.png" alt="Image" class="faq-shape">
                                    <span>
                                                    <i class="ri-arrow-down-s-line plus"></i>
                                                    <i class="ri-arrow-up-s-line minus"></i>
                                                </span>
                                    What are the ranks and points needed to reach them?
                                </button>
                            </h2>
                            <div id="collapse_One" class="accordion-collapse collapse"
                                 aria-labelledby="heading_one" data-bs-parent="#accordionExample_two">
                                <div class="accordion-body">
                                    <div class="single-product-text">
                                        <p>We have 4 ranks - lowest is 'Photo junkie', above 50 points 'Enthusiast', above 150 points 'Master' and more than 1000 points for 'Wise and Benevolent Photo Dictator'.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading_Two">
                                <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapse_Two"
                                        aria-expanded="false" aria-controls="collapse_Two">
                                    <img th:src="@{/assets/img/about/faq-shape.png}" src="../static/assets/img/about/faq-shape.png" alt="Image" class="faq-shape">

                                    <span>
                                                    <i class="ri-arrow-down-s-line plus"></i>
                                                    <i class="ri-arrow-up-s-line minus"></i>
                                                </span>
                                    How do we become a jury of a contest?
                                </button>
                            </h2>
                            <div id="collapse_Two" class="accordion-collapse collapse "
                                 aria-labelledby="heading_Two" data-bs-parent="#accordionExample_two">
                                <div class="accordion-body">
                                    <p>To become a jury you need to be at least 'Master' rank and be invited by an organiser.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQ Section end -->

    <!-- Footer Section Start -->
    <footer th:replace="~{FooterFragment :: fragment}"></footer>
    <!-- Footer Section End -->

</div>
<!-- Page Wrapper End -->

<!-- Back-to-top button Start -->
<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
<!-- Back-to-top button End -->

<!-- Link of JS files -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/form-validator.min.js}"></script>
<script th:src="@{/assets/js/contact-form-script.js}"></script>
<script th:src="@{/assets/js/aos.js}"></script>
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/swiper-min.js}"></script>
<script th:src="@{/assets/js/fancybox.js}"></script>
<script th:src="@{/assets/js/jquery.appear.js}"></script>
<script th:src="@{/assets/js/tweenmax.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>

</html>