<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Footer Section Start -->
<footer th:fragment="fragment" class="footer-wrap">
    <img th:src="@{/assets/img/footer-shape-1.png}" src="../static/assets/img/footer-shape-1.png" alt="Image" class="footer-shape-one">
    <img th:src="@{/assets/img/footer-shape-2.png}" src="../static/assets/img/footer-shape-2.png" alt="Image" class="footer-shape-two">
    <div class="container">
        <div class="pt-100 pb-75">
            <div class="">
                <div class="footer-widget">
                    <a href="index.html" th:href="@{/}" class="footer-logo">
                        <img th:src="@{/assets/img/logo-white.png}" src="../static/assets/img/logo-white.png" alt="Image">
                    </a>
                </div>
            </div>
            <div class="">
                <div class="footer-widget">
                    <ul class="contact-info list-style">
                        <li>
                            <i class="ri-phone-fill"></i>
                            <a href="tel:13454567877" th:text="'+359 88 239 0955'">+359 88 239 0955</a>
                            <a href="tel:16657234112" th:text="'+359 89 680 8087'">+359 89 680 8087</a>
                            <a href="tel:16657234112" th:text="'+359 88 439 5967'">+359 88 439 5967</a>
                        </li>
                        <li>
                            <i class="ri-mail-open-fill"></i>
                            <a href="mailto:apiryankov@gmail.com">apiryankov@gmail.com</a>
                            <a href="mailto:biserslavchev90@gmail.com">biserslavchev90@gmail.com</a>
                            <a href="mailto:victorzlatarski@gmail.com">victorzlatarski@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p class="copyright-text"><i class="ri-copyright-line"></i> <b>Photo Arena</b>. All Rights Reserved By Team 16</p>
</footer>
<!-- Footer Section End -->
</body>
</html>