<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Header Section Start -->
<header th:fragment="fragment" class="header-wrap style1">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="index.html" th:href="@{/}">
        <img class="logo-light" th:src="@{/assets/img/logo.png}" src="../static/assets/img/logo.png" alt="logo">
        <img class="logo-dark" th:src="@{/assets/img/logo-white.png}" src="../static/assets/img/logo-white.png" alt="logo">
      </a>
      <div class="collapse navbar-collapse main-menu-wrap" id="navbarSupportedContent">
        <div class="menu-close d-lg-none">
          <a href="javascript:void(0)"> <i class="ri-close-line"></i></a>
        </div>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a href="#" th:href="@{/}" class="nav-link" th:text="#{nav.menu.home}">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a href="#" th:href="@{/my}" class="nav-link" th:text="#{nav.menu.dashboard}">
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" th:href="@{/contests}" th:text="#{nav.menu.contests}">
              Contests
            </a>
          </li>
          <li class="nav-item" th:if="${isAuthenticated}">
            <a href="#" class="nav-link" th:href="@{/users/{userId}/photos(userId=${currentUser.getId()})}" th:text="#{nav.menu.gallery}">
              My Gallery
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" th:href="@{/faq}" th:text="#{nav.menu.faq}">
              FAQ
            </a>
          </li>
          <li class="nav-item align-content-end" th:if="${isAuthenticated}">
            <a href="#" th:href="@{/users/{userId}(userId=${currentUser.getId()})}" class="nav-link">
              <img src="../static/assets/img/default_avatar.png" th:src="@{/assets/img/default_avatar.png}"
                   alt="Generic Picture" th:if="${profilePicture == null}"/>
              <img th:src="@{${'/' + profilePicture.getImage()}}" src="../static/assets/img/default_avatar.png"
                   alt="Profile Picture" th:if="${profilePicture != null}"/>
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a href="#" th:href="@{/users/{userId}(userId=${currentUser.getId()})}" class="nav-link" th:text="#{nav.menu.profile}">
                  My profile
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:text="#{photo.gallery.new.photo}"
                   href="#" th:href="@{/users/{userId}/photos/new(userId=${currentUser.getId()})}">Upload New Photo</a>
              </li>
              <li class="nav-item" th:if="${currentUser.isOrganiser()}">
                <a class="nav-link" th:text="#{nav.menu.new.contest}"
                   href="#" th:href="@{/contests/new}">Create new Contest</a>
              </li>
              <li class="nav-item" th:if="${currentUser.isOrganiser()}">
                <a class="nav-link" th:text="#{nav.menu.all.users}"
                   href="#" th:href="@{/users}">See Users</a>
              </li>
              <li class="nav-item">
                <a href="#" th:href="@{/my}" class="nav-link" th:text="#{nav.menu.dashboard}">
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" th:href="@{/users/{userId}/photos(userId=${currentUser.getId()})}" th:text="#{nav.menu.gallery}">
                  My Gallery
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/auth/logout}" href="#" class="nav-link">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="other-options md-none">
          <div class="option-item" th:if="${isAuthenticated}">
            <a th:href="@{/auth/logout}" href="#" class="btn style1">Logout</a>
          </div>
          <div class="option-item" th:if="${!isAuthenticated}">
            <a th:href="@{/auth/login}" href="LoginView.html" class="btn style1">Login</a>
          </div>
          <div class="option-item" th:if="${!isAuthenticated}">
            <a th:href="@{/auth/register}" href="RegisterView.html" class="btn style1">Register</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="mobile-bar-wrap">
      <div class="mobile-menu d-lg-none">
        <a href="javascript:void(0)"><i class="ri-menu-line"></i></a>
      </div>
    </div>
  </div>
</header>
<!-- Header Section End -->
</body>
</html>