<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link of CSS files -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}" href="../static/assets/css/flaticon.css">
    <link rel="stylesheet" th:href="@{/assets/css/remixicon.css}" href="../static/assets/css/remixicon.css">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}"
          href="../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/swiper-min.css}" href="../static/assets/css/swiper-min.css">
    <link rel="stylesheet" th:href="@{/assets/css/fancybox.css}" href="../static/assets/css/fancybox.css">
    <link rel="stylesheet" th:href="@{/assets/css/aos.css}" href="../static/assets/css/aos.css">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}" href="../static/assets/css/responsive.css">
    <link rel="stylesheet" th:href="@{/assets/css/dark-theme.css}" href="../static/assets/css/dark-theme.css">
    <title>Photo Arena Home</title>
    <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png">
</head>

<body>

<!--Preloader starts-->
<div class="loader js-preloader">
    <img th:src="@{/assets/img/preloader.gif}" src="../static/assets/img/preloader.gif" alt="Image">
</div>
<!--Preloader ends-->

<!-- Theme Switcher Start -->
<div th:replace="~{ThemeSwitcherFragment::fragment}">
</div>
<!-- Theme Switcher End -->

<!-- Page Wrapper End -->
<div class="page-wrapper">

    <!-- Header Section Start -->
    <header th:replace="~{HeaderFragment ::fragment}"></header>
    <!-- Header Section End -->

    <!-- Hero Section Start -->
    <section class="hero-wrap style3 hero-bg-2 bg-f">
        <div class="line-shape-wrap">
            <div class="hero-line-shape one"></div>
            <div class="hero-line-shape two"></div>
            <div class="hero-line-shape three"></div>
        </div>
        <div class="container">
            <div class="row align-items-center gx-5">
                <div class="col-lg-6 col-md-7">
                    <div class="hero-content"  data-speed="0.10" data-revert="true">
                        <span data-aos="fade-right" data-aos-duration="1200" data-aos-delay="200">You have amazing photos to show off to your colleagues with?</span>
                        <h1 data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300">A World of Great Photo Contests</h1>
                        <p data-aos="fade-right" data-aos-duration="1200" data-aos-delay="400">Browse through active contests and submit your piece to compete.</p>
                        <a href="#recent-contests-area" class="btn style1" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="500">SEE CONTESTS</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Feature Section Start -->
    <section id="features" class="feature-wrap pt-100 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2">
                    <div class="section-title text-center mb-50">
                        <span>WHAT CAN YOU DO HERE?</span>
                        <h2>These Are Some of The Features You'll Find</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                     data-aos-delay="200">
                    <div class="feature-card">
                        <div class="feature-icon">
                            <img th:src="@{/assets/img/about/icon-4.svg}" src="../static/assets/img/about/icon-4.svg" alt="Image">
                        </div>
                        <div class="feature-info">
                            <h3>Create an Account</h3>
                            <p>Build up your profile and stay connected with your peers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                     data-aos-delay="300">
                    <div class="feature-card active">
                        <div class="feature-icon">
                            <img th:src="@{/assets/img/about/icon-2.svg}" src="../static/assets/img/about/icon-2.svg" alt="Image">
                        </div>
                        <div class="feature-info">
                            <h3>User Rank</h3>
                            <p>Earn points to increase your Rank and you'll be able to join contests as a judge.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                     data-aos-delay="400">
                    <div class="feature-card">
                        <div class="feature-icon">
                            <img th:src="@{/assets/img/about/icon-1.svg}" src="../static/assets/img/about/icon-1.svg" alt="Image">
                        </div>
                        <div class="feature-info">
                            <h3>Browse contests</h3>
                            <p>Browse through numerous current and past contests and the photos of your peers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200"
                     data-aos-delay="500">
                    <div class="feature-card">
                        <div class="feature-icon">
                            <img th:src="@{/assets/img/about/icon-3.svg}" src="../static/assets/img/about/icon-3.svg" alt="Image">
                        </div>
                        <div class="feature-info">
                            <h3>Submit photo</h3>
                            <p>Join a contest with your best photo and get feedback about your work.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Section End -->

    <!-- About Section Start -->
    <section class="about-wrap style1 ptb-100 bg-athens">
        <img th:src="@{/assets/img/about/about-shape-1.png}" src="../static/assets/img/about/about-shape-1.png" alt="Image" class="about-shape-one">
        <div class="container">
            <div class="row align-items-center gx-5">
                <div class="col-lg-6">
                    <div class="about-img-wrap">
                        <img class="about-shape-two rotate" th:src="@{/assets/img/about/about-shape-2.png}" src="../static/assets/img/about/about-shape-2.png" alt="Image">
                        <img th:src="@{/assets/img/about/photo_board_about.jpg}" src="../static/assets/img/about/photo_board_about.jpg" alt="Image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <div class="content-title">
                            <span>ABOUT US</span>
                            <h2>We're the place to showcase your work</h2>
                            <p>Photo Contests was founded be a group of like-minded individuals who wanted a space for photography and nothing else. Today, here you can find some of the best works of artists from all around the globe!</p>
                        </div>
                        <ul class="content-feature-list list-style">
                            <li><i class="ri-checkbox-circle-fill"></i>Compete in a variety of categories</li>
                            <li><i class="ri-checkbox-circle-fill"></i>Get your work reviewed by Photo Arena veterans
                            </li>
                            <li><i class="ri-checkbox-circle-fill"></i>Give back to the community by becoming a judge in other contests</li>
                        </ul>
                        <div class="about-btn">
                            <a href="#project-area" class="btn style1">SEE PHOTOS</a>
                            <a href="#recent-contests-area" class="link style1">CHECK CURRENT CONTESTS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Recent Winning Photos Start -->
    <section id="project-area" class="service-wrap pt-100 pb-75">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                    <div class="section-title style1 text-center mb-50">
                        <h2>Check out some recent winners</h2>
                    </div>
                </div>
            </div>
            <div class="project-slider-one owl-carousel">
                <div class="project-card style2" th:each="photo: ${latestPhotosCarousel}">
                    <img th:src="@{'/' + ${photo.getImage()}}"
                         th:alt="${photo.getTitle()}" src="../static/assets/img/project/project-7.jpg" alt="Image">
                    <div class="project-info">
                        <h3><a th:href="@{/users/{userId}/photos/{photoId}(userId=${photo.getAuthor().getId()}, photoId=${photo.getId()})}" href="project-details.html" th:text="${photo.getTitle()}">Amelia &amp; Oliver</a></h3>
                        <span  th:text="${photo.getAuthor().firstName + photo.getAuthor().lastName}" class="project-cat">Wedding</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Recent Winning Photos End -->

    <!-- Contests Section Start -->
    <section id="recent-contests-area" class="about-wrap style1 ptb-100 bg-athens">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                    <div class="section-title style1 text-center mb-50">
                        <h2>Contests</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-3 col-md-6" th:each="contest: ${openContests}">
                    <div class="partner-item">
                        <a th:href="@{'contests/' + ${contest.getId}}" href=""><img width="216" height="215" th:if="${contest.coverPhoto != null}" th:src="@{'/' + ${contest.coverPhoto.getImage()}}"
                             th:alt="${contest.coverPhoto.getTitle()}"
                             src="../static/assets/img/partner/partner-1.png" alt="Image">
                        <img width="216" height="215" th:if="${contest.coverPhoto == null}"
                             th:src="@{/assets/img/mystery-box.jpg}"
                             src="../static/assets/img/mystery-box.jpg" alt="Image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contests Section End -->

    <!-- Footer Section Start -->
    <footer th:replace="~{FooterFragment :: fragment}"></footer>
    <!-- Footer Section End -->

</div>
<!-- Page Wrapper End -->

<!-- Back-to-top button Start -->
<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
<!-- Back-to-top button End -->

<!-- Link of JS files -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/form-validator.min.js}"></script>
<script th:src="@{/assets/js/contact-form-script.js}"></script>
<script th:src="@{/assets/js/aos.js}"></script>
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/swiper-min.js}"></script>
<script th:src="@{/assets/js/fancybox.js}"></script>
<script th:src="@{/assets/js/jquery.appear.js}"></script>
<script th:src="@{/assets/js/tweenmax.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>

</html>