<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link of CSS files -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}" href="../static/assets/css/flaticon.css">
    <link rel="stylesheet" th:href="@{/assets/css/remixicon.css}" href="../static/assets/css/remixicon.css">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}"
          href="../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/swiper-min.css}" href="../static/assets/css/swiper-min.css">
    <link rel="stylesheet" th:href="@{/assets/css/fancybox.css}" href="../static/assets/css/fancybox.css">
    <link rel="stylesheet" th:href="@{/assets/css/aos.css}" href="../static/assets/css/aos.css">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}" href="../static/assets/css/responsive.css">
    <link rel="stylesheet" th:href="@{/assets/css/dark-theme.css}" href="../static/assets/css/dark-theme.css">
    <title>Login</title>
    <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png">
</head>

<body>

<!--Preloader starts-->
<div class="loader js-preloader">
    <img th:src="@{/assets/img/preloader.gif}" src="../static/assets/img/preloader.gif" alt="Image">
</div>
<!--Preloader ends-->

<!-- Theme Switcher Start -->
<div th:replace="~{ThemeSwitcherFragment::fragment}">
</div>
<!-- Theme Switcher End -->

<!-- Page Wrapper End -->
<div class="page-wrapper">

    <!-- Content Wrapper Start -->
    <div class="content-wrapper">

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap login-register">
            <img th:src="@{/assets/img/breadcrumb/br-shape-3.png}" src="../static/assets/img/breadcrumb/br-shape-3.png"
                 alt="Image" class="br-shape">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-9">
                        <a class="navbar-brand" href="index.html" th:href="@{/}">
                            <img class="logo-light" th:src="@{/assets/img/logo.png}" src="../static/assets/img/logo.png" alt="logo">
                            <img class="logo-dark" th:src="@{/assets/img/logo-white.png}" src="../static/assets/img/logo-white.png"
                                 alt="logo">
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <div class="breadcrumb-title">
                            <h2 th:text="#{login.breadcrumb.title}">Login</h2>
                            <ul class="breadcrumb-menu list-style">
                                <li><a th:href="@{/}" href="index.html" th:text="#{login.breadcrumb.home}">Home </a>
                                </li>
                                <li>Login</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Account Section start -->
        <section class="Login-wrap pt-60 pb-75">
            <div class="container">
                <div class="row ">
                    <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                        <div class="login-header">
                            <h3 th:text="#{login.header}">Login</h3>
                        </div>
                        <div class="login-form-wrap">
                            <form class="login-form" action="#" th:action="@{/auth/login}" th:object="${login}"
                                  method="post" autocomplete="on">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="fname" th:text="#{login.form.username.label}">Username</label>
                                            <input id="fname" name="fname" type="text" th:field="*{username}" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="pwd" th:text="#{login.form.password.label}">Password</label>
                                            <input id="pwd" name="pwd" type="password" th:field="*{password}">
                                            <div style="color:red; font-size:smaller;" th:errors="*{password}"><br>Password
                                                error
                                                placeholder
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                        <div class="checkbox style3">
                                            <input type="checkbox" id="test_1">
                                            <label for="test_1">
                                                Remember Me</a>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 mt-3">
                                        <div class="form-group">
                                            <button class="btn style1 w-100 d-block" th:text="#{login.form.button}">
                                                LOGIN NOW
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="mb-0">Don’t Have an Account? <a class="link style1"
                                                                                  href="RegisterView.html"
                                                                                  th:href="@{/auth/register}"
                                                                                  th:text="#{login.form.create.account}">Create
                                            One</a></p>
                                    </div>
                                    <div class="col-md-5 text-md-end">
                                        <ul class="social-profile style3 list-style">
                                            <li>
                                                <a target="_blank" href="https://facebook.com">
                                                    <i class="ri-facebook-line"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="https://twitter.com">
                                                    <i class="ri-twitter-line"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="https://instagram.com">
                                                    <i class="ri-instagram-line"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Account Section end -->

    </div>
    <!-- Content Wrapper End -->

    <!-- Footer Section Start -->
    <footer th:replace="~{FooterFragment :: fragment}"></footer>
    <!-- Footer Section End -->

</div>
<!-- Page Wrapper End -->

<!-- Back-to-top button Start -->
<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
<!-- Back-to-top button End -->

<!-- Link of JS files -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/form-validator.min.js}"></script>
<script th:src="@{/assets/js/contact-form-script.js}"></script>
<script th:src="@{/assets/js/aos.js}"></script>
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/swiper-min.js}"></script>
<script th:src="@{/assets/js/fancybox.js}"></script>
<script th:src="@{/assets/js/jquery.appear.js}"></script>
<script th:src="@{/assets/js/tweenmax.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>

</html>