<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link of CSS files -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}" href="../static/assets/css/flaticon.css">
    <link rel="stylesheet" th:href="@{/assets/css/remixicon.css}" href="../static/assets/css/remixicon.css">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}"
          href="../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/swiper-min.css}" href="../static/assets/css/swiper-min.css">
    <link rel="stylesheet" th:href="@{/assets/css/fancybox.css}" href="../static/assets/css/fancybox.css">
    <link rel="stylesheet" th:href="@{/assets/css/aos.css}" href="../static/assets/css/aos.css">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}" href="../static/assets/css/responsive.css">
    <link rel="stylesheet" th:href="@{/assets/css/dark-theme.css}" href="../static/assets/css/dark-theme.css">
    <title th:text="${'My Profile:' + ' ' + user.firstName + ' ' + user.lastName}">My Profile</title>
    <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png">
</head>

<body>

<!--Preloader starts-->
<div class="loader js-preloader">
    <img th:src="@{/assets/img/preloader.gif}" src="../static/assets/img/preloader.gif" alt="Image">
</div>
<!--Preloader ends-->

<!-- Theme Switcher Start -->
<div th:replace="~{ThemeSwitcherFragment::fragment}">
</div>
<!-- Theme Switcher End -->

<!-- Page Wrapper End -->
<div class="page-wrapper">

    <header th:replace="~{HeaderFragment ::fragment}"></header>

    <!-- Content Wrapper Start -->
    <div class="content-wrapper">


        <!-- Account Section start -->
        <div class="breadcrumb-wrap">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-8 col-xl-6">
                    <div class="testimonial-card border rounded-top">
                        <div class="rounded-top text-white d-flex flex-row"
                             style="background-color: #000; height:200px;">
                            <div class="ms-4 me-3 mt-0 d-flex flex-column" style="width: 150px;">
                                <img src="../static/assets/img/default_avatar.png"
                                     th:src="@{/assets/img/default_avatar.png}"
                                     alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                     style="width: 150px; z-index: 1" th:if="${profilePicture == null}">
                                <img th:src="@{${'/' + profilePicture.getImage()}}"
                                     src="../static/assets/img/default_avatar.png"
                                     alt="Profile Picture" class="img-fluid img-thumbnail mt-4 mb-2"
                                     style="width: 150px; z-index: 1" th:if="${profilePicture != null}">
                            </div>
                            <div class="ms-3" style="margin-top: 20px;">
                                <h3 th:text="${user.firstName + ' ' + user.lastName}" class="text-white mb-0">Andy
                                    Horwitz</h3>
                                <p th:text="${'Username: ' + user.username}" class="text-white mb-0">Username:
                                    Andy90</p>
                                <p th:text="${'Email: ' + user.email}" class="text-white mb-0">Email: andry@abs.bs</p>
                                <div th:if="${user.id==currentUser.id}">
                                    <a th:href="@{/users/{id}/update(id=${currentUser.id})}" href="#"
                                       class="btn style1 mt-1">Edit User Info</a>
                                    <a th:href="@{/users/{id}/profile-pictures(id=${currentUser.id})}" href="#"
                                       class="btn style1 mt-1">Change Avatar</a>
                                </div>

                            </div>
                        </div>
                        <div class="card-body p-4 text-black">
                            <div class="mb-5">
                                <p class="lead fw-normal mb-1">About</p>
                                <div class="p-4" style="background-color: #f8f9fa;">
                                    <div class="row">
                                        <div class="col-4 mb-2">Photos uploaded</div>
                                        <div class="col-4 mb-2">Contest participations</div>
                                        <div class="col-4 mb-2">Points</div>
                                    </div>
                                    <div class="row">
                                        <div th:text="${photos.size()}" class="col-4 mb-2">13</div>
                                        <div th:text="${contests.size()}" class="col-4 mb-2">3</div>
                                        <div th:text="${user.points}" class="col-4 mb-2">1123</div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0">Recent photos</p>
                                <p class="mb-0"><a
                                        th:href="@{/users/{userId}/photos/page/{currentPage}(userId=${user.id}, currentPage=1)}"
                                        href="#!" class="text-muted">Show all</a></p>
                            </div>
                            <div class="row">
                                <div th:each="photo: ${fourPhotos}" class="col-6 mb-2">
                                    <img class="img-fluid w-100 h-auto rounded-3"
                                         th:if="${photo != null}"
                                         th:alt="${photo.getTitle()}" alt="Image"
                                         th:src="@{'/' + ${photo.getImage()}}"
                                         src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Account Section end -->


    </div>
    <!-- Content Wrapper End -->

    <!-- Footer Section Start -->
    <footer th:replace="~{FooterFragment :: fragment}"></footer>
    <!-- Footer Section End -->

</div>
<!-- Page Wrapper End -->

<!-- Back-to-top button Start -->
<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
<!-- Back-to-top button End -->

<!-- Link of JS files -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/form-validator.min.js}"></script>
<script th:src="@{/assets/js/contact-form-script.js}"></script>
<script th:src="@{/assets/js/aos.js}"></script>
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/swiper-min.js}"></script>
<script th:src="@{/assets/js/fancybox.js}"></script>
<script th:src="@{/assets/js/jquery.appear.js}"></script>
<script th:src="@{/assets/js/tweenmax.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>

</html>