<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Link of CSS files -->
  <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" href="../static/assets/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}" href="../static/assets/css/flaticon.css">
  <link rel="stylesheet" th:href="@{/assets/css/remixicon.css}" href="../static/assets/css/remixicon.css">
  <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}"
        href="../static/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" th:href="@{/assets/css/swiper-min.css}" href="../static/assets/css/swiper-min.css">
  <link rel="stylesheet" th:href="@{/assets/css/fancybox.css}" href="../static/assets/css/fancybox.css">
  <link rel="stylesheet" th:href="@{/assets/css/aos.css}" href="../static/assets/css/aos.css">
  <link rel="stylesheet" th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css">
  <link rel="stylesheet" th:href="@{/assets/css/responsive.css}" href="../static/assets/css/responsive.css">
  <link rel="stylesheet" th:href="@{/assets/css/dark-theme.css}" href="../static/assets/css/dark-theme.css">
  <title>Povi - Photography & Videography Services HTML Template</title>
  <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png">
</head>

<body>

<!--&lt;!&ndash;Preloader starts&ndash;&gt;-->
<!--<div class="loader js-preloader">-->
<!--    <img th:src="@{/assets/img/preloader.gif}" src="../static/assets/img/preloader.gif" alt="Image">-->
<!--</div>-->
<!--&lt;!&ndash;Preloader ends&ndash;&gt;-->

<!-- Theme Switcher Start -->
<div th:replace="~{ThemeSwitcherFragment::fragment}">
</div>
<!-- Theme Switcher End -->

<!-- Page Wrapper End -->
<div class="page-wrapper">

  <header th:replace="~{HeaderFragment ::fragment}"></header>

  <!-- Content Wrapper Start -->
  <div class="content-wrapper">

    <!--        &lt;!&ndash; Breadcrumb Start &ndash;&gt;-->
    <!--        <div class="breadcrumb-wrap">-->
    <!--            <img th:src="@{/assets/img/breadcrumb/br-shape.png}" src="../static/assets/img/breadcrumb/br-shape.png" alt="Image" class="br-shape">-->
    <!--            <div class="container">-->
    <!--                <div class="row align-items-center">-->
    <!--                    <div class="col-sm-6">-->
    <!--                        <div class="breadcrumb-title">-->
    <!--                            <h2>Services</h2>-->
    <!--                            <ul class="breadcrumb-menu list-style">-->
    <!--                                <li><a href="IndexView.html">Home </a></li>-->
    <!--                                <li>My Profile</li>-->
    <!--                            </ul>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        &lt;!&ndash; Breadcrumb End &ndash;&gt;-->

    <!-- Account Section start -->
    <div class="breadcrumb-wrap">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-8 col-xl-6">
          <div class="testimonial-card border rounded-top">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
              <div class="ms-4 me-3 mt-0 d-flex flex-column" style="width: 150px;">
                <img src="../static/assets/img/default_avatar.png" th:src="@{/assets/img/default_avatar.png}"
                     alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                     style="width: 150px; z-index: 1" th:if="${profilePicture == null}">
                <img th:src="@{${'/' + profilePicture.getImage()}}" src="../static/assets/img/default_avatar.png"
                     alt="Profile Picture" class="img-fluid img-thumbnail mt-4 mb-2"
                     style="width: 150px; z-index: 1" th:if="${profilePicture != null}">
              </div>
              <div class="ms-3" style="margin-top: 20px;">
                <h3 th:text="${user.firstName + ' ' + user.lastName}" class="text-white mb-0">Andy Horwitz</h3>
                <p th:text="${'Username: ' + user.username}" class="text-white mb-0">Username: Andy90</p>
                <p th:text="${'Email: ' + user.email}" class="text-white mb-0">Email: andry@abs.bs</p>
                <a th:href="@{/users/{id}/profile-pictures/new(id=${currentUser.id})}"
                   href="#"
                   class="btn btn-info mt-1">Upload New</a>
              </div>
            </div>



<!--            Other profile pics-->

              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mt-5 mb-0">Previously uploaded</p>

              </div>
              <div th:each="picture: ${allPictures}" class="project-card style2 col-6 mb-2">
                <img class="img-fluid w-100 h-auto rounded-3"
                     th:if="${picture != null}"
                     th:alt="${picture.getTitle()}" alt="Image"
                     th:src="@{'/' + ${picture.getImage()}}"
                     src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp">
                <div class="project-info">
                  <a class="btn btn-info mt-1" th:href="@{/users/{userId}/profile-pictures/{pictureId}/select(userId=${user.id},pictureId=${picture.id})}" href="#">Select</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Account Section end -->


  </div>
  <!-- Content Wrapper End -->

  <!-- Footer Section Start -->
  <footer th:replace="~{FooterFragment :: fragment}"></footer>
  <!-- Footer Section End -->

</div>
<!-- Page Wrapper End -->

<!-- Back-to-top button Start -->
<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
<!-- Back-to-top button End -->

<!-- Link of JS files -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/form-validator.min.js}"></script>
<script th:src="@{/assets/js/contact-form-script.js}"></script>
<script th:src="@{/assets/js/aos.js}"></script>
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/swiper-min.js}"></script>
<script th:src="@{/assets/js/fancybox.js}"></script>
<script th:src="@{/assets/js/jquery.appear.js}"></script>
<script th:src="@{/assets/js/tweenmax.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>

</html>