<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Link of CSS files -->
  <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" href="../static/assets/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}" href="../static/assets/css/flaticon.css">
  <link rel="stylesheet" th:href="@{/assets/css/remixicon.css}" href="../static/assets/css/remixicon.css">
  <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}"
        href="../static/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" th:href="@{/assets/css/swiper-min.css}" href="../static/assets/css/swiper-min.css">
  <link rel="stylesheet" th:href="@{/assets/css/fancybox.css}" href="../static/assets/css/fancybox.css">
  <link rel="stylesheet" th:href="@{/assets/css/aos.css}" href="../static/assets/css/aos.css">
  <link rel="stylesheet" th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css">
  <link rel="stylesheet" th:href="@{/assets/css/responsive.css}" href="../static/assets/css/responsive.css">
  <link rel="stylesheet" th:href="@{/assets/css/dark-theme.css}" href="../static/assets/css/dark-theme.css">
  <link th:href="@{/assets/bootstrap-icons/bootstrap-icons.css}"
        href="../static/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <title th:text="#{photo.gallery.new.photo}">Upload a new photo</title>
  <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png">
</head>
<body>

<!--Preloader starts-->
<div class="loader js-preloader">
  <img th:src="@{/assets/img/preloader.gif}" src="../static/assets/img/preloader.gif" alt="Image">
</div>
<!--Preloader ends-->

<!-- Theme Switcher Start -->
<div th:replace="~{ThemeSwitcherFragment::fragment}">
</div>
<!-- Theme Switcher End -->

<div class="page-wrapper">

  <header th:replace="~{HeaderFragment ::fragment}"></header>

  <div class="blog-details-wrap ptb-100">
    <div class="container">
      <div class="row gx-5">
        <div class="col-xl-10 offset-xl-1 col-lg-12">
          <a href="#" th:href="@{/users/{userId}/profile-pictures(userId=${currentUser.id})}">
            <i class="flaticon-left-arrow" th:text="' ' + #{photo.gallery.photo.back}">
              back to gallery</i>
          </a>
          <article class="photo-score">
            <form class="post-form" spellcheck="true" action="#"
                  th:action="@{/users/{userId}/profile-pictures/new(userId=${currentUser.id})}"
                  th:object="${dto}" method="post" enctype="multipart/form-data">
              <div class="post-title">
                <label class="title-area">
                  <input type="text" th:field="*{title}" placeholder="Title" required/>
                </label>
                <br/>
                <label class="error" th:errors="*{title}">Title error placeholder</label>
              </div>
              <br/>
              <div class="post-img">
                <input type="file" name="image" class="form-control-file">
              </div>
              <input class="submit btn style1" type="submit" value="Save"/>
            </form>
          </article>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="~{FooterFragment :: fragment}"></footer>
</div>
<!-- Back-to-top button Start -->
<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
<!-- Back-to-top button End -->

<!-- Link of JS files -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/form-validator.min.js}"></script>
<script th:src="@{/assets/js/contact-form-script.js}"></script>
<script th:src="@{/assets/js/aos.js}"></script>
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/swiper-min.js}"></script>
<script th:src="@{/assets/js/fancybox.js}"></script>
<script th:src="@{/assets/js/jquery.appear.js}"></script>
<script th:src="@{/assets/js/tweenmax.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>