<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link of CSS files -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}" href="../static/assets/css/flaticon.css">
    <link rel="stylesheet" th:href="@{/assets/css/remixicon.css}" href="../static/assets/css/remixicon.css">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}"
          href="../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/swiper-min.css}" href="../static/assets/css/swiper-min.css">
    <link rel="stylesheet" th:href="@{/assets/css/fancybox.css}" href="../static/assets/css/fancybox.css">
    <link rel="stylesheet" th:href="@{/assets/css/aos.css}" href="../static/assets/css/aos.css">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}" href="../static/assets/css/responsive.css">
    <link rel="stylesheet" th:href="@{/assets/css/dark-theme.css}" href="../static/assets/css/dark-theme.css">
    <title>Register</title>
    <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png">
</head>

<body>

<!--Preloader starts-->
<div class="loader js-preloader">
    <img th:src="@{/assets/img/preloader.gif}" src="../static/assets/img/preloader.gif" alt="Image">
</div>
<!--Preloader ends-->

<!-- Theme Switcher Start -->
<div th:replace="~{ThemeSwitcherFragment::fragment}">
</div>
<!-- Theme Switcher End -->

<!-- Page Wrapper End -->
<div class="page-wrapper">

    <!-- Content Wrapper Start -->
    <div class="content-wrapper">

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap login-register">
            <img th:src="@{/assets/img/breadcrumb/br-shape-3.png}" src="../static/assets/img/breadcrumb/br-shape-3.png"
                 alt="Image" class="br-shape">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-9">
                        <a class="navbar-brand" href="index.html" th:href="@{/}">
                            <img class="logo-light" th:src="@{/assets/img/logo.png}" src="../static/assets/img/logo.png" alt="logo">
                            <img class="logo-dark" th:src="@{/assets/img/logo-white.png}" src="../static/assets/img/logo-white.png"
                                 alt="logo">
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <div class="breadcrumb-title">
                            <h2 th:text="#{register.breadcrumb.title}">Register</h2>
                            <ul class="breadcrumb-menu list-style">
                                <li><a th:href="@{/}" href="index.html" th:text="#{login.breadcrumb.home}">Home </a>
                                </li>
                                <li>Register</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Account Section start -->
        <section class="Login-wrap ptb-60">
            <div class="container">
                <div class="row ">
                    <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                        <div class="login-header" >
                            <h3 th:text="#{register.header}">Register</h3>
                        </div>
                        <div class="login-form-wrap">
                            <form class="login-form" action="#" th:action="@{/auth/register}" th:object="${register}"
                                  method="post">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input id="username" name="username" type="text" th:field="*{username}" placeholder="Enter username" required>
                                            <label style="color:red; font-size:smaller;" th:errors="*{username}">Username error
                                                placeholder</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input id="email" name="email" type="text" th:field="*{email}" placeholder="Enter valid email address" required>
                                            <label style="color:red; font-size:smaller;" th:errors="*{email}">Email error placeholder</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="fname">First Name</label>
                                            <input id="fname" name="fname" type="text" th:field="*{firstName}" placeholder="Enter your first name" required>
                                            <label style="color:red; font-size:smaller;" th:errors="*{firstName}">First name error
                                                placeholder</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="lname">Last Name</label>
                                            <input id="lname" name="lname" type="text" th:field="*{lastName}" placeholder="Enter your last name" required>
                                            <label style="color:red; font-size:smaller;" th:errors="*{lastName}">Last name error
                                                placeholder</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="pwd">Password</label>
                                            <input id="pwd" name="pwd" type="password" th:field="*{password}"  placeholder="Enter password">
                                            <label style="color:red; font-size:smaller;" th:errors="*{password}">Password error
                                                placeholder</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="pwd_2">Confirm Password</label>
                                            <input id="pwd_2" name="pwd_2" type="password" th:field="*{passwordConfirm}" placeholder="Enter password again">
                                            <label style="color:red; font-size:smaller;" th:errors="*{passwordConfirm}">Password error
                                                placeholder</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-12 mb-20">
                                        <div class="checkbox style3">
                                            <input type="checkbox" id="test_1">
                                            <label for="test_1">
                                                I Agree with the <a class="link style1" href="terms-of-service.html">Terms
                                                &amp; conditions</a>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <button class="btn style1 w-100 d-block" th:text="#{register.form.button}">
                                                REGISTER NOW
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <p class="mb-0">Have an Account? <a class="link style1" th:href="@{/auth/login}"
                                                                            href="login.html"
                                                                            th:text="#{register.form.login}">Sign In</a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Account Section end -->

    </div>
    <!-- Content Wrapper End -->

    <!-- Footer Section Start -->
    <footer th:replace="~{FooterFragment :: fragment}"></footer>
    <!-- Footer Section End -->

</div>
<!-- Page Wrapper End -->

<!-- Back-to-top button Start -->
<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
<!-- Back-to-top button End -->

<!-- Link of JS files -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/form-validator.min.js}"></script>
<script th:src="@{/assets/js/contact-form-script.js}"></script>
<script th:src="@{/assets/js/aos.js}"></script>
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/swiper-min.js}"></script>
<script th:src="@{/assets/js/fancybox.js}"></script>
<script th:src="@{/assets/js/jquery.appear.js}"></script>
<script th:src="@{/assets/js/tweenmax.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>

</html>