<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link of CSS files -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}" href="../static/assets/css/flaticon.css">
    <link rel="stylesheet" th:href="@{/assets/css/remixicon.css}" href="../static/assets/css/remixicon.css">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}"
          href="../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/swiper-min.css}" href="../static/assets/css/swiper-min.css">
    <link rel="stylesheet" th:href="@{/assets/css/fancybox.css}" href="../static/assets/css/fancybox.css">
    <link rel="stylesheet" th:href="@{/assets/css/aos.css}" href="../static/assets/css/aos.css">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}" href="../static/assets/css/responsive.css">
    <link rel="stylesheet" th:href="@{/assets/css/dark-theme.css}" href="../static/assets/css/dark-theme.css">
    <link th:href="@{/assets/bootstrap-icons/bootstrap-icons.css}"
          href="../static/assets/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <title th:text="${authorUser.getUsername()} + ' ' + #{photo.gallery}">User Gallery</title>
    <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png">
</head>
<body>

<!--Preloader starts-->
<div class="loader js-preloader">
    <img th:src="@{/assets/img/preloader.gif}" src="../static/assets/img/preloader.gif" alt="Image">
</div>
<!--Preloader ends-->

<!-- Theme Switcher Start -->
<div th:replace="~{ThemeSwitcherFragment::fragment}">
</div>
<!-- Theme Switcher End -->

<div class="page-wrapper">

    <header th:replace="~{HeaderFragment ::fragment}"></header>

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <img th:src="@{/assets/img/breadcrumb/br-shape.png}"
             src="../static/assets/img/breadcrumb/br-shape.png" alt="Image" class="br-shape">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumb-title">
                        <h3>
                            <a th:href="@{/users/{userId}(userId=${userId})}" href="#"
                               th:text="${authorUser.getUsername()} + ' ' + #{photo.gallery}">
                                user Gallery
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="rankings-info" align="right">
                        <a class="btn style1" th:text="#{photo.gallery.new.photo}"
                           href="#" th:href="@{/users/{userId}/photos/new(userId=${currentUser.getId()})}">Upload New
                            Photo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Testimonial Section Start -->
    <section class="testimonial-wrap ptb-100">
        <div class="container" th:if="${!photos.isEmpty()}">
            <div class="row justify-content-center">
                <div class="product-filter-wrap">
                    <div class="user-filters">
                        <form th:action="@{/users/{userId}/photos(userId=${userId})}"
                              th:object="${photoFilterOptions}" method="get" action="#">
                            <div class="search-text">
                                <label for="title-filter" th:text="'Title'">Title</label>
                                <input id="title-filter" th:field="*{title}" type="text" placeholder="Title">
                            </div>
                            <div class="search-text">
                                <label for="story-filter" th:text="'Story'">Story</label>
                                <input id="story-filter" th:field="*{story}" type="text" placeholder="Story">
                            </div>
                            <div class="user-filter-submit">
                                <input type="submit" value="Search">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" th:each="photo : ${photos}">
                    <div class="testimonial-card style4">
                        <div class="client-img">
                            <a th:href="@{/users/{userId}/photos/{photoId}(userId=${userId}, photoId=${photo.getId()})}"
                               href="#">
                                <img th:src="@{${'/' + photo.getImage()}}" th:alt="${photo.getTitle()}" src=""
                                     alt="Photo"/>
                                <!--                                <img th:src="@{/users/4/photos/new2}" th:alt="${photo.getTitle()}" src=""-->
                                <!--                                     alt="Photo"/>-->
                            </a>
                        </div>
                        <div class="client-info">
                            <h3><a th:text="${photo.getTitle()}"
                                   th:href="@{/users/{userId}/photos/{photoId}(userId=${userId}, photoId=${photo.getId()})}"
                                   href="#">Photo Title</a></h3>
                        </div>
                        <p class="client-quote" th:text="${photo.getStory()}">Exce pteur sint occ aecat cupid atat non
                            proi dent, sunt invix an natum labitur culpoffi iadese runt mollit anim id est.</p>
                    </div>
                </div>
            </div>
            <ul class="page-nav list-style mt-10">
                <li>
                    <a th:if="${currentPage > 1}"
                       th:href="@{'/users/{userId}/photos/page/' + ${currentPage - 1} + '/{title}&{story}'(userId=${userId}, title=${title}, story=${story})}"><i
                            class="flaticon-left-arrow"></i></a>
                </li>
                <li th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a th:if="${i==currentPage}" class="active" href="#"
                       th:href="@{'/users/{userId}/photos/page/' + ${i} + '/{title}&{story}'(userId=${userId}, title=${title}, story=${story})}"
                       th:text="${i}">1</a>
                    <a th:if="${i!=currentPage}" href="#"
                       th:href="@{'/users/{userId}/photos/page/' + ${i} + '/{title}&{story}'(userId=${userId}, title=${title}, story=${story})}"
                       th:text="${i}">1</a>
                </li>
                <li>
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'/users/{userId}/photos/page/' + ${currentPage + 1} + '/{title}&{story}'(userId=${userId}, title=${title}, story=${story})}"><i
                            class="flaticon-right-arrow-1"></i></a>
                </li>
            </ul>
        </div>
        <div class="container photo-score" th:if="${photos.isEmpty()}">
            <h1 th:text="#{photo.gallery.empty}">Photo gallery is empty</h1>
        </div>
    </section>
    <!-- Testimonial Section End -->
    <footer th:replace="~{FooterFragment :: fragment}"></footer>
</div>
<!-- Back-to-top button Start -->
<a href="javascript:void(0)" class="back-to-top bounce"><i class="ri-arrow-up-s-line"></i></a>
<!-- Back-to-top button End -->

<!-- Link of JS files -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/form-validator.min.js}"></script>
<script th:src="@{/assets/js/contact-form-script.js}"></script>
<script th:src="@{/assets/js/aos.js}"></script>
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/swiper-min.js}"></script>
<script th:src="@{/assets/js/fancybox.js}"></script>
<script th:src="@{/assets/js/jquery.appear.js}"></script>
<script th:src="@{/assets/js/tweenmax.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>