/*-------------------------------
    Dark Theme  CSS
-------------------------------*/

//Color Variable
$clr_white: #fff;
$clr_offwhite: rgba(255,255,255,0.85);
$clr_black: #000;
$clr_aztech: #041c22;
$clr_cod: #111;
$clr_red:#FF3838;
$clr_grey: #ABA8B0;
$clr_athens: #F3F4F6;
$clr_crimson: #D72324;
$clr_shark: #1E2327;
$clr_clay: #242E37;

.switch-theme-mode{
    position: fixed;
    top: 200px;
    right: 15px;
    z-index: 99;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    input {
        opacity: 0;
        width: 0;
        height: 0;
      }
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &.round {
        border-radius: 50%;
        &:before{
            border-radius: 50%;
        }
    }
    &:before {
        position: absolute;
        content: "";
        height: 35px;
        width: 35px;
        left: 0px;
        bottom: 4px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        box-shadow: 0 0px 15px #2020203d;
        background: white url('../img/night.png');
        background-repeat: no-repeat;
        background-position: center;
        background-color: $clr_aztech;
        background-size: 17px;
    }
}
input:checked + .slider {
  background-color: transparent;
}
input:focus + .slider {
  box-shadow: 0 0 1px  transparent;
}
input:checked + .slider:before {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  background: white url('../img/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;

}
/*---------------------------------
    Color CSS For Elements 
-----------------------------------*/
.theme-light {
    .navbar-brand{
        .logo-dark{
            display: none!important;
        }
        .logo-light{
            display: block!important;
        }
    }
}
.theme-dark {
    .footer-logo,
    .navbar-brand{
        .logo-light{
            display: none!important;
        }
        .logo-dark{
            display: block!important;
        }
    }
    .td-cod,
    .header-wrap .header-top,
    .bg-athens,
    .bg-albastor,
    .product-card .product-img,
    .cta-wrap.style1 .cta-content,
    .cart-table table thead tr,
    .blog-card.style1 .blog-img .blog-date,
    .single-product-gallery .single-product-slider .single-product-item,
    .btn.style3 {
        background-color: $clr_cod!important;
    }
    body,
    .bg-white,
    .hero-wrap.style1,
    .feature-card.style2,
    .feature-card.style4,
    .contact-wrap.bg-shark,
    .feature-card.style1 {
        background-color: $clr_black!important;
    }
    .td-aztech,
    .header-wrap.style1,
    .wp-block-quote,
    .breadcrumb-wrap,
    .product-quantity .qtySelector span,
    .pricing-card.style1,
    .testimonial-card.style1 .client-text,
    .pricing-card.style4{
        background-color: $clr_aztech!important;
    }
    .header-wrap .option-item .shopcart-btn span{
        background-color: $clr_crimson!important;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    h3 a,
    a,
    .accordion-item .accordion-header .accordion-button,
    .pricing-card .pricing-tag,
    .mobile-menu a i,
    .hero-wrap.style1 .scroll-to-section i,
    .breadcrumb-title h2,
    .product-quantity .qtySelector input,
    .breadcrumb-title .breadcrumb-menu li a,
    .product-tab-content .product_features li b,
    .cart-total .cart-total-wrap .cart-total-item p b,
     .cart-total .cart-total-wrap .cart-total-item span b,
     .cart-table table thead tr th,
    .header-wrap .navbar ul li a:hover {
        color: $clr_white!important;
    }
    p,span,
    .content-feature-list li,
    article ol li, .terms-wrap ol li,
    .breadcrumb-title .breadcrumb-menu li::after,
    .login-form-wrap .login-body .form-group label,
    .pricing-card .pricing-features li,
    .checkbox label,
    .product-tablist .nav-item .nav-link,
    .product-tab-content .product_features li,
    .post-metainfo li{
        color: $clr_offwhite!important;
    }
    
    h3:hover a,
    a:hover,
    .link.style1,
    .pricing-card .pricing-tag p,
    .product-tablist .nav-item .nav-link.active
    article p strong, .terms-wrap p strong{
        color: $clr_crimson!important;
    }
    .checkbox {
        label {
            &:before {
                border: 1px solid rgba(255, 255, 255, 0.29);
            }
        }
    }
    .filter-item-cat select{
        background-color: $clr_cod;
        color: $clr_white;
    }
     article,
     .accordion-item .accordion-header .accordion-button,
     .accordion-item .accordion-body,
     .post-meta-option,
     .post-author,
     .testimonial-slider-one.style1,
     .cta-wrap.style1 .cta-content::before,
     .pricing-card .pricing-features li,
     .product-card .product-info,
     .product-more-option,
     .product-quantity,
     .product-tablist,
     .project-info-list li,
     .cart-total .cart-total-wrap .cart-total-item:last-child,
     .cart-table table tbody tr,
     .checkout-form-box,
     .comment-item-wrap .comment-item{
         border-color: rgba(255,255,255,0.19);
    }
    .cart-table table thead tr th{
        border: none;
    }
    .testimonial-slider-one.owl-carousel .owl-nav button.owl-prev i,
    .testimonial-slider-one.owl-carousel .owl-nav button.owl-next i {
        color: rgba(255, 255, 255, 0.7);
    }
    .testimonial-slider-one.owl-carousel .owl-nav button.owl-prev:hover i,
    .testimonial-slider-one.owl-carousel .owl-nav button.owl-next:hover i {
        color: $clr_crimson;
    }
    #contactForm .form-group textarea,
    #contactForm .form-group input,
    .search-box .form-group input,
    #cmt-form .comment-form .form-group input,
    #cmt-form .comment-form .form-group textarea,
    .client-review-form .form-group input,
    .client-review-form .form-group textarea,
    .checkout-form .form-group input,
    .coupon-code input,
    .login-form-wrap .login-form .form-group input{
        background-color: $clr_black;
        border: 1px solid rgba(255,255,255,0.2);
        color: $clr_white;
    }
    .checkout-form .form-group select {
        background-color:$clr_black;
        border: 1px solid rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.7);
    }
    .category-box ul li a{
        &:hover{
            color: $clr_white!important;
        }
    }
    .project-feature-card .project-feature-icon::after {
        background-color: rgba(255, 255, 255, 0.14);
    }
    .login-form-wrap,
    .cart-total,
    .sidebar-widget.style2{
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .sidebar-widget,
    .single-product-slider .swiper-button-next, .swiper-button-prev,
    .single-product-slider .swiper-button-next, .swiper-button-next {
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .single-product-slider .swiper-button-next, .swiper-button-prev i,
    .single-product-slider .swiper-button-next, .swiper-button-next i {
       color: $clr_white;
    }
    .reply-btn{
        background: transparent!important;
        border:1px solid rgba(255, 255, 255, 0.2);
        color: $clr_crimson;
        &:hover{
            background: $clr_crimson!important;
            border-color: transparent;
            color: $clr_white!important;
        }
    }
    .tag-list{
        li{
            a{
                background: transparent!important;
                border:1px solid rgba(255, 255, 255, 0.2);
                color: $clr_crimson;
                &:hover{
                    background: $clr_crimson!important;
                    border-color: transparent;
                    color: $clr_white!important;
                }
            }
        }
        &.style2{
            li{
                a{
                    border: none;
                }
            }
        }
    }
    .header-wrap.style1{
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    select{
        background-image: url(../img/down-arrow-white.png);
    }
    .feature-card {
       border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .feature-card .feature-icon::after {
        background-color: rgba(215, 35, 36, 0.2);
    }
    .hero-wrap .scroll-to-section {
        -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
        box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
    }
    .breadcrumb-wrap .br-shape,
    .hero-wrap.style1 .hero-shape-one,
    .about-wrap.style1 .about-shape-one {
        opacity: 0.1;
    }
    .page-nav {
        li {
            a {
                color: $clr_white;
                border: 1px solid rgba(255, 255, 255, 0.2);
                background-color: transparent;
                i {
                    color: $clr_white;
                }
                &.active,
                &:hover {
                    background-color: $clr_crimson;
                    color: $clr_white!important;
                    i {
                        color: $clr_white;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:991px) {
    .theme-dark{
        .mobile-top-bar span,
        .header-wrap.style2 .mobile-top-bar span,
        .header-wrap.style3 .mobile-top-bar span{
            background-color: $clr_white;
        }
        .main-menu li a:hover{
            color: $clr_black;
        }
        .main-menu-wrap,
        .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu{
            background-color: $clr_cod;
        }
        .header-wrap .navbar .navbar-nav .nav-item a {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
        .menu-close i,
        .header-wrap .navbar .navbar-nav .nav-item .menu-expand i {
            color:$clr_white;
        }
        .header-wrap .navbar .navbar-nav .nav-item a.active{
            color: $clr_crimson!important;
        }
        .main-menu li a.active,
        .main-menu li a{
            border-color: rgba(255, 255, 255, 0.2);
        }
    }
}
@media only screen and (min-width:992px) {
    .theme-dark{
        .main-menu-wrap #menu ul li.has-children .sub-menu{
            background-color: $clr_aztech;
        }
        .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu{
            background-color: $clr_cod;
        }
        .header-wrap .navbar .navbar-nav .nav-item .nav-link.active{
            color: $clr_crimson!important;
        }
    }
}