@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.ttf?2fbe2485c833e369eb46a898c559893f") format("truetype"),
url("../fonts/flaticon.woff?2fbe2485c833e369eb46a898c559893f") format("woff"),
url("../fonts/flaticon.woff2?2fbe2485c833e369eb46a898c559893f") format("woff2"),
url("../fonts/flaticon.eot?2fbe2485c833e369eb46a898c559893f#iefix") format("embedded-opentype"),
url("../fonts/flaticon.svg?2fbe2485c833e369eb46a898c559893f#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-play-button:before {
    content: "\f101";
}
.flaticon-play-button-arrowhead:before {
    content: "\f102";
}
.flaticon-quotation-mark:before {
    content: "\f103";
}
.flaticon-minus-sign:before {
    content: "\f104";
}
.flaticon-plus-positive-add-mathematical-symbol:before {
    content: "\f105";
}
.flaticon-chat-comment-oval-speech-bubble-with-text-lines:before {
    content: "\f106";
}
.flaticon-tick-inside-circle:before {
    content: "\f107";
}
.flaticon-share:before {
    content: "\f108";
}
.flaticon-right-arrow:before {
    content: "\f109";
}
.flaticon-phone-call:before {
    content: "\f10a";
}
.flaticon-left-arrow:before {
    content: "\f10b";
}
.flaticon-right-arrow-1:before {
    content: "\f10c";
}
.flaticon-search:before {
    content: "\f10d";
}
.flaticon-telephone:before {
    content: "\f10e";
}
.flaticon-right-arrow-2:before {
    content: "\f10f";
}
.flaticon-secure-shield:before {
    content: "\f110";
}
.flaticon-tick:before {
    content: "\f111";
}
.flaticon-play:before {
    content: "\f112";
}
.flaticon-info:before {
    content: "\f113";
}
.flaticon-play-button-1:before {
    content: "\f114";
}
.flaticon-call:before {
    content: "\f115";
}
.flaticon-pin:before {
    content: "\f116";
}
.flaticon-company:before {
    content: "\f117";
}
.flaticon-email:before {
    content: "\f118";
}
.flaticon-email-1:before {
    content: "\f119";
}
.flaticon-down-arrow:before {
    content: "\f11a";
}
.flaticon-done:before {
    content: "\f11b";
}
.flaticon-invisible:before {
    content: "\f11c";
}
.flaticon-up-arrow:before {
    content: "\f11d";
}
.flaticon-camera:before {
    content: "\f11e";
}
.flaticon-frame:before {
    content: "\f11f";
}
.flaticon-checked:before {
    content: "\f120";
}
.flaticon-play-1:before {
    content: "\f121";
}
.flaticon-email-2:before {
    content: "\f122";
}
.flaticon-calendar:before {
    content: "\f123";
}
.flaticon-send:before {
    content: "\f124";
}
.flaticon-support:before {
    content: "\f125";
}
.flaticon-time:before {
    content: "\f126";
}
.flaticon-headphones:before {
    content: "\f127";
}
.flaticon-customer-service:before {
    content: "\f128";
}
.flaticon-group:before {
    content: "\f129";
}
.flaticon-planet-earth:before {
    content: "\f12a";
}
.flaticon-certificate-1:before {
    content: "\f12b";
}
.flaticon-airplane:before {
    content: "\f12c";
}
.flaticon-check:before {
    content: "\f12d";
}
.flaticon-call-1:before {
    content: "\f12e";
}
.flaticon-user:before {
    content: "\f12f";
}
.flaticon-user-1:before {
    content: "\f130";
}
.flaticon-hand:before {
    content: "\f131";
}
.flaticon-user-2:before {
    content: "\f132";
}
.flaticon-quote:before {
    content: "\f133";
}
.flaticon-quote-1:before {
    content: "\f134";
}
.flaticon-shopping-cart:before {
    content: "\f135";
}
.flaticon-video:before {
    content: "\f136";
}
.flaticon-exit:before {
    content: "\f137";
}
.flaticon-save-money:before {
    content: "\f138";
}
.flaticon-marriage:before {
    content: "\f139";
}
.flaticon-edit:before {
    content: "\f13a";
}
.flaticon-check-1:before {
    content: "\f13b";
}
.flaticon-star:before {
    content: "\f13c";
}
.flaticon-home:before {
    content: "\f13d";
}
.flaticon-bubble-chat:before {
    content: "\f13e";
}
.flaticon-envelope:before {
    content: "\f13f";
}
.flaticon-video-camera:before {
    content: "\f140";
}
.flaticon-email-3:before {
    content: "\f141";
}
.flaticon-award:before {
    content: "\f142";
}
.flaticon-verified:before {
    content: "\f143";
}
.flaticon-speech-bubble:before {
    content: "\f144";
}
.flaticon-bell:before {
    content: "\f145";
}
.flaticon-notification:before {
    content: "\f146";
}
.flaticon-bag:before {
    content: "\f147";
}
.flaticon-plane:before {
    content: "\f148";
}
.flaticon-globe:before {
    content: "\f149";
}
.flaticon-search-1:before {
    content: "\f14a";
}
.flaticon-quote-2:before {
    content: "\f14b";
}
.flaticon-location:before {
    content: "\f14c";
}
.flaticon-calendar-1:before {
    content: "\f14d";
}
.flaticon-setting:before {
    content: "\f14e";
}
.flaticon-customer-support:before {
    content: "\f14f";
}
.flaticon-love:before {
    content: "\f150";
}
.flaticon-money-exchange:before {
    content: "\f151";
}
.flaticon-send-1:before {
    content: "\f152";
}
.flaticon-sign-out:before {
    content: "\f153";
}
.flaticon-left-chevron:before {
    content: "\f154";
}
.flaticon-search-2:before {
    content: "\f155";
}
.flaticon-exchange:before {
    content: "\f156";
}
.flaticon-plus:before {
    content: "\f157";
}
.flaticon-map:before {
    content: "\f158";
}
.flaticon-back:before {
    content: "\f159";
}
.flaticon-next:before {
    content: "\f15a";
}
.flaticon-rating:before {
    content: "\f15b";
}
.flaticon-up-right-arrow:before {
    content: "\f15c";
}
.flaticon-call-center:before {
    content: "\f15d";
}
.flaticon-quotes:before {
    content: "\f15e";
}
.flaticon-heart:before {
    content: "\f15f";
}
.flaticon-call-2:before {
    content: "\f160";
}
.flaticon-email-4:before {
    content: "\f161";
}
.flaticon-exposure:before {
    content: "\f162";
}
.flaticon-layout:before {
    content: "\f163";
}
.flaticon-frame-1:before {
    content: "\f164";
}
.flaticon-grid:before {
    content: "\f165";
}
.flaticon-quality:before {
    content: "\f166";
}
.flaticon-up-arrow-1:before {
    content: "\f167";
}
.flaticon-application:before {
    content: "\f168";
}
.flaticon-trophy-1:before {
    content: "\f169";
}
