/*---------------------------------
        Footer CSS 
-----------------------------------*/
.footer-wrap {
  position: relative;
  z-index: 1;
  background-color: #242E37;
}

.footer-wrap .footer-shape-one {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.footer-wrap .footer-shape-two {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.footer-wrap .footer-widget {
  margin-bottom: 25px;
}

.footer-wrap .footer-widget .footer-widget-title {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.footer-wrap .footer-widget .footer-widget-title:before {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: "";
  width: 90px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.15);
}

.footer-wrap .footer-widget .footer-widget-title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #D72324;
}

.footer-wrap .footer-widget .footer-logo {
  display: block;
}

.footer-wrap .footer-widget .social-profile li a {
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 20px;
}

.footer-wrap .footer-widget .social-profile li a:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.footer-wrap .footer-widget .footer-menu li {
  margin-bottom: 15px;
}

.footer-wrap .footer-widget .footer-menu li:last-child {
  margin-bottom: 0;
}

.footer-wrap .footer-widget .footer-menu li a {
  color: #ccc;
  position: relative;
  padding-left: 25px;
}

.footer-wrap .footer-widget .footer-menu li a:after {
  position: absolute;
  top: 8px;
  left: 0;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #D72324;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer-wrap .footer-widget .footer-menu li a:hover {
  color: #D72324;
  padding-left: 18px;
}

.footer-wrap .footer-widget .footer-menu li a:hover i {
  color: #D72324;
}

.footer-wrap .footer-widget .comp-desc {
  color: #ccc;
  margin: 38px 0 15px;
  padding-right: 10px;
}

.footer-wrap .footer-widget .newsletter-form {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
}

.footer-wrap .footer-widget .newsletter-form input {
  width: 100%;
  height: 58px;
  background-color: rgba(255, 255, 255, 0.09);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 5px;
  padding: 15px 140px 15px 15px;
}

.footer-wrap .footer-widget .newsletter-form input::-webkit-input-placeholder {
  opacity: 1;
  color: #ccc;
}

.footer-wrap .footer-widget .newsletter-form input:-ms-input-placeholder {
  opacity: 1;
  color: #ccc;
}

.footer-wrap .footer-widget .newsletter-form input::-ms-input-placeholder {
  opacity: 1;
  color: #ccc;
}

.footer-wrap .footer-widget .newsletter-form input::placeholder {
  opacity: 1;
  color: #ccc;
}

.footer-wrap .footer-widget .newsletter-form button {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: #D72324;
  height: 100%;
  padding: 5px 20px;
  border: none;
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
}

.footer-wrap .footer-widget .social-profile li a {
  background-color: rgba(255, 255, 255, 0.09);
  width: 45px;
  height: 45px;
}

.footer-wrap .footer-widget .social-profile li a i {
  color: #fff;
  font-size: 21px;
}

.footer-wrap .footer-widget .social-profile li a:hover {
  background-color: #D72324;
}

.footer-wrap .footer-widget .social-profile li a:hover i {
  color: #fff;
}

.footer-wrap .footer-widget .insta-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 11px;
  margin-right: 10px;
}

.footer-wrap .footer-widget .insta-gallery a {
  display: block;
  position: relative;
  border-radius: 5px;
}

.footer-wrap .footer-widget .insta-gallery a img {
  border-radius: 5px;
}

.footer-wrap .footer-widget .contact-info li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 18px;
}

.footer-wrap .footer-widget .contact-info li:last-child {
  margin-bottom: 0;
}

.footer-wrap .footer-widget .contact-info li i {
  position: absolute;
  top: 4px;
  left: 0;
  font-size: 16px;
  line-height: 1;
  color: #D72324;
}

.footer-wrap .footer-widget .contact-info li p, .footer-wrap .footer-widget .contact-info li a {
  color: #ccc;
  margin-bottom: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-wrap .footer-widget .contact-info li a {
  display: block;
  margin-bottom: 5px;
}

.copyright-text {
  padding: 23px 10px;
  text-align: center;
  margin: 0;
  color: #fff;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.09);
}

.copyright-text i {
  position: relative;
  top: 2px;
  margin-right: 2px;
}

.copyright-text a {
  color: #D72324;
  font-weight: 500;
}

.copyright-text a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  .footer-wrap .footer-widget .footer-widget-title {
    font-size: 20px;
    margin-bottom: 18px;
    padding-bottom: 12px;
  }
  .footer-wrap .footer-widget .comp-desc {
    font-size: 14px;
    padding-right: 10px;
    margin: 25px 0 20px;
  }
  .footer-wrap .footer-widget .social-profile li a {
    width: 40px;
    height: 40px;
  }
  .footer-wrap .footer-widget .social-profile li a i {
    font-size: 18px;
  }
  .footer-wrap .footer-widget .contact-info li {
    margin-bottom: 10px;
  }
  .footer-wrap .footer-widget .contact-info p, .footer-wrap .footer-widget .contact-info a {
    font-size: 14px;
  }
  .footer-wrap .footer-widget .insta-gallery {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
  }
  .footer-wrap .footer-widget .footer-menu li {
    margin-bottom: 8px;
  }
  .footer-wrap .footer-widget .footer-menu li a {
    font-size: 14px;
  }
  .footer-wrap .footer-widget .footer-menu li a i {
    font-size: 11px;
    top: 5px;
  }
  .footer-wrap .footer-widget .newsletter-form {
    margin-bottom: 25px;
  }
  .footer-wrap .footer-widget .newsletter-form input {
    padding: 15px 130px 15px 15px;
  }
  .footer-wrap .footer-widget .newsletter-form button {
    font-size: 13px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-wrap .footer-widget .footer-widget-title {
    font-size: 22px;
  }
  .footer-wrap .footer-widget .comp-desc {
    padding-right: 20px;
  }
  .footer-wrap .footer-widget .newsletter-form {
    width: calc(100% - 10px);
  }
  .footer-wrap .footer-widget .newsletter-form button {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1199px) {
  .footer-wrap .footer-top .footer-widget .footer-widget-title {
    margin-bottom: 18px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-wrap .footer-widget .footer-widget-title {
    font-size: 20px;
  }
  .footer-wrap .footer-widget .comp-desc {
    padding-right: 40px;
    font-size: 15px;
  }
  .footer-wrap .footer-widget .footer-menu li a {
    font-size: 15px;
  }
  .footer-wrap .footer-widget .contact-info li p, .footer-wrap .footer-widget .contact-info li a {
    font-size: 15px;
  }
  .footer-wrap .footer-widget .newsletter-form {
    width: calc(100% - 10px);
  }
  .footer-wrap .footer-widget .newsletter-form input {
    font-size: 15px;
  }
  .footer-wrap .footer-widget .newsletter-form button {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .footer-wrap .footer-widget .footer-widget-title {
    font-size: 20px;
  }
  .footer-wrap .footer-widget .comp-desc {
    padding-right: 40px;
    font-size: 15px;
  }
  .footer-wrap .footer-widget .footer-menu li a {
    font-size: 15px;
  }
  .footer-wrap .footer-widget .contact-info li p, .footer-wrap .footer-widget .contact-info li a {
    font-size: 15px;
  }
  .footer-wrap .footer-widget .newsletter-form {
    width: calc(100% - 40px);
  }
  .footer-wrap .footer-widget .newsletter-form input,
  .footer-wrap .footer-widget .newsletter-form button {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1400px) {
  .footer-wrap .footer-widget .comp-desc {
    padding-right: 40px;
  }
  .footer-wrap .footer-widget .newsletter-form {
    width: calc(100% - 40px);
  }
  .footer-wrap .footer-widget .insta-gallery {
    margin-right: 50px;
  }
}

@media only screen and (min-width: 1400px) {
  .footer-wrap .footer-widget .newsletter-form input {
    height: 70px;
    background-color: rgba(255, 255, 255, 0.09);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 5px;
    padding: 15px 140px 15px 15px;
  }
  .footer-wrap .footer-widget .newsletter-form button {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: #D72324;
    height: 100%;
    padding: 5px 20px;
    border: none;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 0 5px 5px 0;
  }
}
/*# sourceMappingURL=footer.css.map */