//Color Variable
$clr_white: #fff;
$clr_offwhite: #ccc;
$clr_black: #000;
$clr_emperor: #555;
$clr_tundora: #444;
$clr_yellow: #FFC422;
$clr_mine_shaft: #252525;
$clr_gray: #888888;
$clr_albastor: #f9f9f9;
$clr_athens: #F2F3F5;
$clr_crimson: #D72324;
$clr_shark: #1E2327;
$clr_clay: #242E37;
$clr_cove: #232E36;

@mixin transform($tr_amt) {
    -webkit-transform: $tr_amt;
    -moz-transform: $tr_amt;
    transform: $tr_amt;
}

@mixin transform-origin($trl_amt) {
    transform-origin: $trl_amt;
    -webkit-transform-origin: $trl_amt;
    -moz-transform-origin: $trl_amt;
    -ms-transform-origin: $trl_amt;
    -o-transform-origin: $trl_amt;
}

@mixin transform-style($trm_amt) {
    transform-style: $trm_amt;
    -webkit-transform-style: $trm_amt;
    -moz-transform-style: $trm_amt;
    -ms-transform-style: $trm_amt;
    -o-transform-style: $trm_amt;
}
@mixin transition($time) {
    -webkit-transition: $time;
    transition: $time;
}

@mixin transition($time) {
    -webkit-transition: $time;
    transition: $time;
}
%flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}
%align_center {
    @extend %flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
/*---------------------------------
        Footer CSS 
-----------------------------------*/
.footer-wrap{
    position: relative;
    z-index: 1;
    background-color: $clr_clay;
    .footer-shape-one{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    .footer-shape-two{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
    .footer-widget{
        margin-bottom: 25px;
        .footer-widget-title{
            position: relative;
            font-size: 22px;
            font-weight: 700;
            color: $clr_white;
            margin-bottom: 30px;
            padding-bottom: 20px;
            &:before{
                position: absolute;
                bottom: 0px;
                left: 0;
                content: "";
                width: 90px;
                height: 2px;
                background-color: rgba(255,255,255,0.15);  
            }
            &:after{
                position: absolute;
                bottom: 0;
                left: 0;
                content: "";
                width: 35px;
                height: 2px;
                background-color: $clr_crimson;    
            }
        }
        .footer-logo{
            display: block;
        }
        .social-profile{
            li{
                a{
                    width: 50px;
                    height: 50px;
                    color: $clr_white;
                    font-size: 20px;
                    &:hover{
                        @include transform(translateY(-2px));
                    }
                }
            }
        }
        .footer-menu{
            li{
                margin-bottom: 15px;
                &:last-child{
                    margin-bottom: 0;
                }
                a{
                    color: #ccc;
                    position: relative;
                    padding-left: 25px;
                    &:after{
                        position: absolute;
                        top: 8px;
                        left: 0;
                        content: "";
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: $clr_crimson;
                        @include transition(0.4s);
                    }
                    &:hover{
                        color: $clr_crimson;
                        padding-left: 18px;
                        i{
                            color: $clr_crimson;
                        }
                    }
                }
            }
        }
        .comp-desc{
            color: #ccc;
            margin: 38px 0 15px;
            padding-right: 10px;
        }
        .newsletter-form{
            position: relative;
            margin-bottom: 30px;
            width: 100%;
            input{
                width: 100%;
                height: 58px;
                background-color: rgba(255,255,255,0.09);
                border: 1px solid rgba(255,255,255,0.1);
                color: $clr_white;
                border-radius: 5px;
                padding: 15px 140px 15px 15px;
                &::placeholder{
                    opacity: 1;
                    color: #ccc;
                }
            }
            button{
                position: absolute;
                top: 0;
                right: 0;
                color: $clr_white;
                background-color: $clr_crimson;
                height: 100%;
                padding: 5px 20px;
                border: none;
                font-size: 15px;
                letter-spacing: 1px;
                border-radius: 0 5px 5px 0;
            }
        }
        .social-profile{
            li{
                a{
                    background-color: rgba(255,255,255,0.09);
                    width: 45px;
                    height: 45px;
                    i{
                        color: $clr_white;
                        font-size: 21px;
                    }
                    &:hover{
                        background-color: $clr_crimson;
                        i{
                            color: $clr_white;
                        }
                    }
                }
            }
        }
        .insta-gallery{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 11px;
            margin-right: 10px;
            a{
                display: block;
                position: relative;
                border-radius: 5px;
                img{
                    border-radius: 5px;
                }
            }
        }
        .contact-info{
            li{
                position: relative;
                padding-left: 25px;
                margin-bottom: 18px;
                &:last-child{
                    margin-bottom: 0;
                }
                i{
                    position: absolute;
                    top: 4px;
                    left: 0;
                    font-size: 16px;
                    line-height: 1;
                    color: $clr_crimson;
                }
                p,a{
                    color: #ccc;
                    margin-bottom: 0;
                    @include transition(0.3s);
                }
                a{
                    display: block;
                    margin-bottom: 5px;
                }
            }
        }
    }
}
.copyright-text{
    padding: 23px 10px;
    text-align: center;
    margin: 0;
    color: $clr_white;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.09);
    i{
        position: relative;
        top: 2px;
        margin-right: 2px;
    }
    a{
        color: $clr_crimson;
        font-weight: 500;
        &:hover{
            text-decoration: underline;
        }
    }
}
@media only screen and (max-width:767px){
    .footer-wrap {
        .footer-widget {
            .footer-widget-title {
                font-size: 20px;
                margin-bottom: 18px;
                padding-bottom: 12px;
            }
            .comp-desc{
                font-size: 14px;
                padding-right: 10px;
                margin: 25px 0 20px;
            }
            .social-profile{
                li{
                    a{
                        width: 40px;
                        height: 40px;
                        i{
                            font-size: 18px;
                        }
                    }
                }
            }
            .contact-info{
                li{
                    margin-bottom: 10px;
                }
                p,a{
                    font-size: 14px;
                }
            }
             .insta-gallery {
                -ms-grid-columns: 1fr 1fr;
                grid-template-columns: 1fr 1fr;
                grid-row: 1fr 1fr;
            }
            .footer-menu{
                li{
                    margin-bottom: 8px;
                    a{
                        font-size: 14px;
                        i{
                            font-size: 11px;
                            top: 5px;
                        }
                    }
                }
            }
            .newsletter-form{
                margin-bottom: 25px;
                input{
                    padding: 15px 130px 15px 15px;
                }
                button{
                    font-size: 13px;
                }
            }
        }
    }
}
@media only screen and (min-width:768px) and (max-width:991px){
    .footer-wrap{
        .footer-widget{
            .footer-widget-title {
                font-size: 22px;
            }
            .comp-desc{
                padding-right: 20px;
            }
            .newsletter-form{
                width: calc(100% - 10px);
                button{
                    font-size: 14px;
                }
            }
        }
    }
}

@media only screen  and (max-width:1199px){
    .footer-wrap{
        .footer-top {
            .footer-widget {
                .footer-widget-title{
                    margin-bottom: 18px;
                }
            }
        }
    }
}
@media only screen  and (min-width:992px) and (max-width:1199px){
    .footer-wrap{
        .footer-widget{
            .footer-widget-title {
                font-size: 20px;
            }
            .comp-desc{
                padding-right: 40px;
                font-size: 15px;
            }
            .footer-menu{
                li{
                    a{
                        font-size: 15px;
                    }
                }
            }
            .contact-info{
                li{
                    p,a{
                        font-size: 15px;
                    }
                }
            }
            .newsletter-form{
                width: calc(100% - 10px);
                input{
                    font-size: 15px;
                }
                button{
                    font-size: 14px;
                }
            }
        }
    }
}
@media only screen and (min-width:1200px) and (max-width:1399px){
    .footer-wrap{
        .footer-widget{
            .footer-widget-title {
                font-size: 20px;
            }
            .comp-desc{
                padding-right: 40px;
                font-size: 15px;
            }
            .footer-menu{
                li{
                    a{
                        font-size: 15px;
                    }
                }
            }
            .contact-info{
                li{
                    p,a{
                        font-size: 15px;
                    }
                }
            }
            .newsletter-form{
                width: calc(100% - 40px);
                input,
                button{
                    font-size: 15px;
                }
            }
        }
    }
}
@media only screen and (min-width:1400px){
    .footer-wrap{
        .footer-widget{
            .comp-desc{
                padding-right: 40px;
            }
            .newsletter-form{
                width: calc(100% - 40px);
            }
            .insta-gallery{
                margin-right: 50px;
            }
        }
    }
}

@media only screen and (min-width:1400px){
    .footer-wrap{
        .footer-widget{
            .newsletter-form{
                input{
                    height: 70px;
                    background-color: rgba(255,255,255,0.09);
                    border: 1px solid rgba(255,255,255,0.1);
                    color: $clr_white;
                    border-radius: 5px;
                    padding: 15px 140px 15px 15px;
                    
                }
                button{
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: $clr_white;
                    background-color: $clr_crimson;
                    height: 100%;
                    padding: 5px 20px;
                    border: none;
                    font-size: 15px;
                    letter-spacing: 1px;
                    border-radius: 0 5px 5px 0;
                }
            }
        }
    }
}