/*---------------------------------
        Header CSS 
-----------------------------------*/
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes toBottomFromTop10 {
  49% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toBottomFromTop10 {
  49% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  51% {
    opacity: 1;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.header-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-wrap.sticky {
  position: fixed;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #fff;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  width: 100%;
  top: 0;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.header-wrap.sticky.style1 {
  background-color: #fff;
}

.header-wrap.sticky.style2 {
  background-color: #1E2327;
}

.header-wrap.style3 {
  background-color: #1E2327;
}

.header-wrap .option-item .shopcart-btn {
  position: relative;
  top: 2px;
  padding-right: 8px;
}

.header-wrap .option-item .shopcart-btn i {
  font-size: 32px;
  line-height: 0.8;
}

.header-wrap .option-item .shopcart-btn span {
  position: absolute;
  top: -19px;
  right: 0px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #000;
  text-align: center;
  line-height: 23px;
  color: #fff;
  font-size: 12px;
}

@media only screen and (max-width: 767px) {
  .navbar-brand img {
    max-width: 120px;
  }
  .header-wrap.sticky {
    margin-top: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-wrap .navbar .navbar-brand {
    max-width: 120px;
  }
  .header-wrap .navbar .navbar-nav .nav-item {
    margin: 0 10px !important;
  }
  .header-wrap .navbar .navbar-nav .nav-item a {
    font-size: 14px !important;
  }
  .header-wrap .navbar .other-options .option-item {
    margin: 0 0 0 25px !important;
  }
  .header-wrap .navbar .other-options .option-item .btn {
    padding: 11px 20px 11px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .header-wrap .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-wrap .navbar .navbar-collapse {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
  }
  .header-wrap .navbar .navbar-nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header-wrap .navbar .navbar-nav .nav-item {
    position: relative;
  }
  .header-wrap .navbar .navbar-nav .nav-item .menu-expand {
    position: absolute;
    right: 0;
    top: 14px;
    cursor: pointer;
  }
  .header-wrap .navbar .navbar-nav .nav-item .menu-expand i {
    color: #000;
    font-size: 18px;
    line-height: 1;
    position: relative;
    top: 7px;
  }
  .header-wrap .navbar .navbar-nav .nav-item a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header-wrap .navbar .navbar-nav .nav-item a i {
    display: none;
  }
  .header-wrap .navbar .navbar-nav .nav-item a.active {
    color: #D72324;
  }
  .header-wrap .navbar .navbar-nav .nav-item a.btn {
    display: inline-block;
    padding: 10px 30px 10px;
    color: #fff;
    margin-top: 15px;
    font-weight: 500;
    font-size: 14px;
  }
  .header-wrap .navbar .navbar-nav .nav-item a.btn i {
    display: inline-block;
    top: 6px;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: none;
    padding: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a {
    font-size: 14px;
    padding-left: 10px;
    margin-left: 10px;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #D72324;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu {
    margin-left: 20px;
  }
  .header-wrap.style2 .mobile-menu a i, .header-wrap.style3 .mobile-menu a i {
    color: #fff;
  }
  .mobile-bar-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
    position: relative;
    top: 4px;
  }
  .menu-close {
    position: absolute;
    top: 13px;
    right: 16px;
  }
  .menu-close i {
    color: #000;
    font-size: 25px;
  }
  .mobile-menu {
    text-align: right;
    margin-left: 20px;
  }
  .mobile-menu a {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .mobile-menu a i {
    font-size: 24px;
    color: #000;
    margin: 0 auto;
  }
  .mobile-menu {
    display: inline-block;
    position: relative;
    top: -5px;
  }
  .mobile-top-bar {
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
    position: relative;
    top: 0px;
  }
  .mobile-top-bar span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000;
    border-radius: 20px;
    margin: 5.9px 0;
  }
  .mobile-top-bar span:nth-child(1) {
    margin-top: 0;
  }
  .mobile-top-bar span:nth-child(2) {
    width: 12px;
    margin-left: 8px;
  }
  .main-menu-wrap {
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 999;
    top: 0;
    height: 100vh;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    left: -100%;
    padding: 55px 20px 30px;
    overflow-y: auto;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .main-menu-wrap.open {
    left: 0;
  }
  .main-menu > li.has-children.menu-open > span.menu-expand {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .main-menu > li.has-children.menu-open > span.menu-expand i {
    color: #000;
  }
  .main-menu > li > ul > li.has-children.menu-open > span.menu-expand {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .main-menu li {
    position: relative;
  }
  .main-menu li:last-child {
    margin: 0;
  }
  .main-menu li > span.menu-expand {
    position: absolute;
    right: 0;
    top: 13px;
    cursor: pointer;
  }
  .main-menu li > span.menu-expand i {
    color: #000;
    font-size: 18px;
  }
  .main-menu li > span.menu-expand:hover {
    color: #000;
  }
  .main-menu li a.active {
    color: #D72324;
  }
  .main-menu li > a {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .main-menu li > a:hover {
    color: #000;
  }
  .main-menu li > ul.sub-menu {
    padding-left: 20px;
  }
  .header-wrap .main-menu-wrap #menu > ul > li > a::after {
    display: none;
  }
  .main-menu li a.active {
    font-weight: 600;
    color: #000;
    border-color: rgba(0, 0, 0, 0.3);
  }
}

@media only screen and (min-width: 992px) {
  .menu-expand {
    display: none;
  }
  .header-wrap .navbar {
    padding: 0;
  }
  .header-wrap .navbar ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
  }
  .header-wrap .navbar .navbar-nav {
    margin-left: auto;
  }
  .header-wrap .navbar .navbar-nav .nav-item {
    position: relative;
    margin: 0 10px;
  }
  .header-wrap .navbar .navbar-nav .nav-item.first-child {
    margin-left: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item a {
    color: #000;
    padding: 30px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    position: relative;
  }
  .header-wrap .navbar .navbar-nav .nav-item a:hover, .header-wrap .navbar .navbar-nav .nav-item a:focus, .header-wrap .navbar .navbar-nav .nav-item a.active {
    color: #D72324;
  }
  .header-wrap .navbar .navbar-nav .nav-item a i {
    font-size: 16px;
    line-height: 1;
    position: relative;
    top: 4px;
    display: inline-block;
    margin-left: -3px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header-wrap .navbar .navbar-nav .nav-item a:hover i {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu {
    display: block !important;
    border: none;
    top: 85px;
    left: -23px;
    z-index: 99;
    opacity: 0;
    width: 265px;
    display: block;
    border-radius: 0;
    padding: 12px 0;
    position: absolute;
    visibility: hidden;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: rotateX(-75deg);
    transform: rotateX(-75deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li {
    margin: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a {
    padding: 10px 20px;
    position: relative;
    display: block;
    font-weight: 500;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:before {
    position: absolute;
    top: 50%;
    left: 20px;
    content: "";
    width: 2px;
    height: 0%;
    background-color: #D72324;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:hover {
    color: #D72324;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active:before, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:hover:before {
    height: 16px;
    visibility: visible;
    opacity: 1;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:hover {
    padding-left: 30px;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    width: 100%;
    right: auto;
    left: 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li a i {
    margin: 0;
    position: absolute;
    top: 55%;
    font-size: 16px;
    line-height: 1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    top: 0;
    opacity: 0;
    left: -250px;
    right: auto;
    visibility: hidden;
  }
  .header-wrap .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
  .header-wrap .navbar .navbar-nav .nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: rotatex(0deg);
    transform: rotatex(0deg);
  }
  .header-wrap .navbar .other-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-wrap .navbar .other-options .option-item {
    margin: 0 0 0 35px;
  }
  .header-wrap.style2 .navbar .navbar-nav .nav-item a, .header-wrap.style3 .navbar .navbar-nav .nav-item a {
    color: #fff;
  }
  .header-wrap.style2 .navbar .navbar-nav .nav-item a:hover, .header-wrap.style2 .navbar .navbar-nav .nav-item a:focus, .header-wrap.style2 .navbar .navbar-nav .nav-item a.active, .header-wrap.style3 .navbar .navbar-nav .nav-item a:hover, .header-wrap.style3 .navbar .navbar-nav .nav-item a:focus, .header-wrap.style3 .navbar .navbar-nav .nav-item a.active {
    color: #D72324;
  }
  .header-wrap.style2 .navbar .navbar-nav .nav-item .dropdown-menu, .header-wrap.style3 .navbar .navbar-nav .nav-item .dropdown-menu {
    background-color: #242E37;
  }
  .header-wrap.style2 .navbar .other-options .option-item, .header-wrap.style3 .navbar .other-options .option-item {
    margin: 0 0 0 30px;
  }
  .header-wrap.style2 .navbar .other-options .option-item .shopcart-btn i, .header-wrap.style3 .navbar .other-options .option-item .shopcart-btn i {
    color: #fff;
  }
  .header-wrap.style2 .navbar .other-options .option-item .shopcart-btn span, .header-wrap.style3 .navbar .other-options .option-item .shopcart-btn span {
    background-color: #D72324;
  }
}

@media only screen and (min-width: 1400px) {
  .header-wrap {
    padding: 11px 0;
  }
  .header-wrap .navbar .navbar-nav .nav-item {
    margin: 0 15px;
  }
  .header-wrap .navbar .navbar-nav .nav-item a {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
  }
  .header-wrap .navbar .navbar-nav .nav-item a i {
    font-size: 20px;
    top: 6px;
  }
}

@media only screen and (min-width: 1600px) {
  .header-wrap .container {
    max-width: 1540px;
  }
}

@media only screen and (min-width: 1920px) {
  .header-wrap .container {
    max-width: 1660px;
  }
}
/*# sourceMappingURL=header.css.map */