
//Color Variable
$clr_white: #fff;
$clr_offwhite: #ccc;
$clr_black: #000;
$clr_emperor: #555;
$clr_tundora: #444;
$clr_yellow: #FFC422;
$clr_mine_shaft: #252525;
$clr_gray: #888888;
$clr_albastor: #f9f9f9;
$clr_athens: #F2F3F5;
$clr_crimson: #D72324;
$clr_shark: #1E2327;
$clr_clay: #242E37;
$clr_cove: #232E36;


/*---------------------------------
          Mixins & Animation CSS
-----------------------------------*/
@mixin transition($time) {
    -webkit-transition: $time;
    transition: $time;
}

@mixin transform($tr_amt) {
    -webkit-transform: $tr_amt;
    -moz-transform: $tr_amt;
    transform: $tr_amt;
}

@mixin transform-origin($trl_amt) {
    transform-origin: $trl_amt;
    -webkit-transform-origin: $trl_amt;
    -moz-transform-origin: $trl_amt;
    -ms-transform-origin: $trl_amt;
    -o-transform-origin: $trl_amt;
}

@mixin transform-style($trm_amt) {
    transform-style: $trm_amt;
    -webkit-transform-style: $trm_amt;
    -moz-transform-style: $trm_amt;
    -ms-transform-style: $trm_amt;
    -o-transform-style: $trm_amt;
}

%flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

%inline_flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

%flex_column_center {
    @extend %flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

%flex_column_between {
    @extend %flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

%flex_column_end {
    @extend %flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

%align_center {
    @extend %flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

%align_start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
}

%align_end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
}
%flex_justify_between {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

%flex_justify_end {
    @extend %flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

%flex_justify_start {
    @extend %flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

%flex_start {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

%flex_start {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
}

%flex_between {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
%flex_end {
    @extend %flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

@media only screen and (max-width:575px) {
    .xs-center {
        text-align: center;
    }
    .xs-none {
        display: none;
    }
    .smt-15{
        margin-top: 15px!important;
    }
    .breadcrumb-wrap {
        padding: 100px 0 45px;
        .breadcrumb-img{
            display: none;
        }
        .breadcrumb-title{
            .breadcrumb-menu{
                li{
                    font-size: 14px;
                    a{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .page-nav {
        li{
            a{
            width: 36px;
            height: 36px;
            font-size: 16px;
            line-height: 36px;
                i{
                    font-size: 15px;
                    top: 2px;
                }
            }
        }
    }
    //Cart CSS
    .coupon-code {
        margin-bottom: 25px;
        input {
            font-size: 14px;
        }
        button {
            font-size: 13px;
            padding: 5px 18px;
        }
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .container-fluid{
        max-width: 540px;
        padding:0 15px;
    }
    .breadcrumb-wrap {
        padding: 90px 0 20px;
        .breadcrumb-img{
            max-width: 350px;
        }
    }
}
@media only screen and (max-width: 767px) {
    p,input,textarea {
        font-size: 14px;
    }
    .btn{
        font-size: 14px;
    }
    .sm-none {
        display: none !important;
    }
    .sm-center {
        text-align: center !important;
    }

    .mb-50 {
        margin-bottom: 30px !important;
    }

    .pt-100 {
        padding-top: 50px
    }
    .pb-50 {
        padding-bottom: 0px
    }

    .pb-60 {
        padding-bottom: 15px;
    }

    .pb-100 {
        padding-bottom: 50px;
    }

    .mt-100 {
        margin-top: 50px!important;
    }
    
    .mb-100 {
        margin-bottom: 50px!important;
    }
    .mtb-100 {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .ptb-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .pt-70 {
        padding-top: 20px;
    }

    .pb-70 {
        padding-bottom: 20px;
    }

    .pb-75 {
        padding-bottom: 25px;
    }

    .pb-50 {
        padding-bottom: 0px
    }

    .pt-75 {
        padding-top: 25px
    }

    .mb-40 {
        margin-bottom: 25px !important;
    }
    .section-title.mb-50,
    .content-title.mb-50{
        margin-bottom: 30px!important;
    }
    .section-title.mb-40{
        margin-bottom: 30px!important;
    }
    .link,.btn{
        font-size: 14px;
    }
    .btn{
        padding:12px 25px 12px;
    }
    .back-to-top {
        font-size: 20px;
        width: 35px;
        height: 35px;
        line-height: 32px;
        right: 10px;

        i {
            font-size: 18px;
        }
    }
    .section-title,
    .content-title{
        span {
            font-size: 13px;
            margin: 0 0 6px;
        }
        h2{
            font-size: 26px;
            line-height: 1.4;
        }
    }
    .breadcrumb-title {
        h2{
            font-size: 24px;
            margin-bottom: 10px;
        }
        .breadcrumb-menu {
            li {
                font-size: 14px;
                &:after{
                    font-size: 16px;
                }
                a{
                    font-size: 14px;
                }
            }
        }
    }
    .owl-carousel {
        .owl-nav {
            button{
                &.owl-prev,
                &.owl-next{
                    width: 40px;
                    height: 40px;
                    i{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    //Card Title CSS
    .project-feature-card .project-feature-info h3,
    .project-card .project-info h3,
    .feature-card .feature-info h3,
    .team-card .team-info h3,
    .product-card .product-info h3,
    .service-card .service-info h3,
    .about-wrap.style3 .about-content .client-quote .client-info h3,
    .testimonial-card .client-info-wrap .client-info h3,
    .testimonial-card.style3 .client-info h3,
    .testimonial-card.style4 .client-info h3,
    .blog-card .blog-info h3{
        font-size:20px;
    }
     //Hero CSS
     .hero-wrap{
        .hero-content{
            span{
                margin-bottom: 8px;
            }
            h1{
                margin-bottom: 15px;
            }
            p{
                margin-bottom: 25px;
            }
        }
        .scroll-to-section{
            width: 50px;
                height: 50px;
            i{
                font-size: 30px;
            }
        }
        &.style1{
            padding: 110px 0 120px;
            .scroll-to-section{
                bottom: 40px;
                &:before{
                    top: -7px;
                }
            }
            .hero-content{
                margin-bottom: 30px;
                h1{
                    font-size: 30px;
                }
                p{
                    max-width: 90%;
                }    
            }

        }
        &.style2{
            
            .hero-content{
                h1{
                    font-size: 30px;
                }
            }
            .container{
                padding-top: 120px;
                padding-bottom: 100px;
                .scroll-to-section{
                    bottom: 25px;
                    right: 15px;
                    width: 45px;
                    height: 45px;
                    i{
                        font-size: 24px;
                    }
                }
            }
        }
        &.style3{
            margin-top: 60px;
            padding: 50px 0;
            &.bg-f{
                background-position: center right;
            }
            &:after {
                background: rgba(0, 0, 0, 0.79);
            }
            .hero-content{
                h1{
                    font-size: 30px;
                }
            }
        }
    }
    //About CSS
    .about-wrap{
        .about-content{
            .content-feature-list{
                margin-bottom: 25px;
                li{
                    font-size: 14px;
                    i{
                        font-size: 16px;
                        top: 5px;
                    }
                }
            }
        }
        &.style1{
            .about-content{
                .content-title{
                    margin-bottom: 20px;
                }
            }
        }
        &.style2{
            padding: 50px 0 50px;
            .about-img-wrap{
                margin-left: 0;
                margin-bottom: 35px;
                img{
                    border-radius: 5px;
                    padding-right: 0;
                }
            }
            .about-content{
                margin: 0;
                padding: 25px 20px;
                .content-title{
                    margin-bottom: 25px;
                }
            }
        }
        &.style3{
            .about-content{
                .content-title{
                    margin-bottom: 20px
                }
                .client-quote{
                    p{
                        margin: 0 0 15px;
                    }
                    .client-info{
                        h3{
                            margin: 0 0 5px;
                        }
                        span{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        &.style4{
            .about-img-wrap{
                .about-shape-one{
                    top: calc(50% + 30px);
                }
            }
            .about-content{
                padding: 0 0 50px;
            }
        }
    }
    //Feature Card
    .feature-card{
        border: 1px solid rgba(0, 0, 0, 0.09);
        padding: 22px 20px 18px;
        .feature-icon{
            margin-bottom: 15px;
        }
        .feature-info{
            h3{
                margin: 0 0 12px;
            }
        }
    }
    //Project CSS
    .project-card{
        .project-info{
            padding: 18px 20px 0;
        }
        &.style2{
            .project-info{
                left: 20px;
            }
        }
        &:hover{
            @include transform(translateY(0px));
        }
    }
    .project-slider-one{
        &.owl-carousel{
            .owl-nav{
                button{
                    &.owl-prev{
                        left: 0px;
                    }
                    &.owl-next{
                        right:0px;
                    }
                }
            }
        }
    }
    //Project CSS
    .pricing-card{
        padding: 25px;
        h6{
            margin: 5px 0 15px;
        }
        .pricing-tag{
            font-size: 40px;
            span{
                font-size: 14px;
                top: -20px;
            }
        }
        .pricing-features{
            margin: 0 0 30px;
            li{
                padding: 15px 0 15px 25px;
                font-size: 14px;
                i{
                    top: 18px;
                    font-size: 16px;
                }
            }
        }
        &:hover{
            @include transform(translateY(0));
        }
    }
    //Service CSS
    .service-card{
        &.style1,
        &.style2{
            .service-info{
                padding: 18px 20px 18px;
            }
            &:hover{
                @include transform(translateY(0px));
            }
        }
        &.style3{
            padding: 22px 20px 20px;
            .service-icon{
                margin-bottom: 15px;
                i{
                    font-size: 58px;
                    line-height: 1;
                    color: $clr_crimson;
                }
            }
            .service-info{
                h3{
                    margin: 0 0 13px;
                }
            }
            &:hover{
                @include transform(translateY(0px));
            }
        }
    }
    //Video CSS
    .video-wrap{
        &.style2{
            .play-now{
                top: 37%;
                left: 38%;
            }
        }
    }
    //Product Card CSS
    .product-filter-wrap{
        padding: 20px;
        .product-result{
            margin-bottom: 20px;
        }
        .filter-item-cat{
            select{
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
    .product-card{
        .product-info{
            padding: 18px 20px 22px;
        }
    }
    .new-product-item .new-product-info h6 {
        font-size: 16px;
    }
    //Shop Details CSS
    .product-tablist {
        border: none;
        .nav-item {
            margin-right: 0;
            margin-bottom: 10px;
            display: block;
            width: 100%;
            .nav-link {
                display: block;
                width: 100%;
                font-size: 18px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }
        }
    }
    //Testimonial CSS
    .testimonial-card{
        .client-info-wrap{
            .client-img{
                width: 65px;
                height:65px;
            }
            .client-info{
                width: calc(100%  - 85px);
                margin-left: 20px;
                span{
                    font-size: 14px;
                }
            }
        }
        &.style1{
            .client-info-wrap{
                margin: 0 0 15px;
            }
        }
        &.style3,
        &.style4{
            .client-img{
                margin: 0 auto 20px;
            }
            .client-quote{
                margin: 0 0 12px;
            }
        }
    }
    //Video CSS
    .video-wrap{
        padding: 100px 0 100px 0;
        &.style2{
            &.video-bg-1,
            &.video-bg-2{
                height: 320px;
            }
        }
        .play-now{
            height: 80px;
            width: 80px;
            line-height: 82px;
        }
        .play-now .ripple,
        .play-now .ripple:before,
        .play-now .ripple:after {
            height: 80px;
            width: 80px;
        }
    }
    //CTA Section CSS
    .cta-wrap{
        &.style1{
            background-image: url(../img/cta-bg-1.jpg);
            .cta-content{
                padding: 25px 30px 30px;
                &:before{
                    top: 10px;
                    left: 10px;
                    width: calc(100% - 25px);
                    height: calc(100% - 25px);
                }
                .content-title{
                    margin-bottom: 20px;
                }
            }
        }
        // &.style2{
        //     &:before{
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         content: "";
        //         width: 100%;
        //         height: 100%;
        //         background: rgba(0, 0, 0, 0.7);
        //     }
        //     .cta-content{
        //         .content-title{
        //             margin-bottom: 30px;
        //             h2{
        //                 color: $clr_white;
        //             }
        //             p{
        //                 color: $clr_offwhite;
        //             }
        //         }
        //     }
        // }
        // &.style3{
        //     background-image: url(../img/cta-bg-3.jpg);
        //     &:before{
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         content: "";
        //         width: 100%;
        //         height: 100%;
        //         background: rgba(0, 0, 0, 0.7);
        //     }
        //     .cta-content{
        //         .content-title{
        //             margin-bottom: 30px;
        //             h2{
        //                 color: $clr_white;
        //             }
        //             p{
        //                 color: $clr_offwhite;
        //             }
        //         }
        //     }
        // }
    }
    .contact-wrap{
        .contact-bg{
            height: 380px;
        } 
        .contact-content{
            padding: 25px 0 50px;
            margin-bottom: 0;
        }
     }
     //Contact Section CSS
    .contact-wrap{
        &.style2{
             .contact-bg-one {
                height: 150px;
            }
            #contactForm {
                padding: 20px 0 0;
                .form-group {
                    input {
                        height: 54px;
                    }
                }
            }
            .container{
                .contact-img-one,
                .contact-img-two,
                .contact-img-three,
                .contact-img-four{
                   display: none;
                }
            }
        }
    }
    //Sing IN CSS
    .login-header {
        margin: 0 0 25px;
        h3 {
            font-size: 28px;
        }
    }
    .login-form-wrap {
        padding: 18px 20px 20px;
        .login-form{
            .form-group{
                input{
                    height: 54px;
                }
            }
        }
        .social-profile{
            margin-top: 15px;
        }
    }
    .error-wrap {
        margin-top: 64px;
    }
    //Blog CSS
    .blog-card{
        .blog-date{
            padding: 10px 15px 8px 25px;
            font-size: 14px;
            &:before{
                top: 18px;
                left: 8px;
            }
        }
        .blog-info{
            h3{
                margin-bottom: 12px;
            }
        }
        &.style1,
        &.style4,
        &.style2{
            .blog-info{
                padding: 18px 0 0;
                h3{
                    margin-bottom: 14px;
                }
                p{
                    margin: 0 0 10px;
                }
            }
        }
        &.style3{
            .blog-info{
                padding: 18px 20px 20px;
                .blog-date{
                    margin-bottom: 12px;
                }
                h3{
                    margin-bottom: 14px;
                }
            }
        }
    }
    //Team CSS
    .team-card{
        .team-info{
            padding: 20px 0 0;
        }
        &:hover{
            @include transform(translateY(0));
        }
    }
    //Service & Project Details
    .project-features {
        padding-top: 5px;
    }
    .project-feature-card{
        margin-top: 25px;
        .project-feature-icon{
            margin-bottom: 12px;
        }
    }
     //Shop Details CSS
     .single-product-details{
        .single-product-title {
            h2 {
                font-size: 28px;
                line-height: 1.3;
                margin: 0 0 15px;
            }
            h3 {
                font-size: 20px;
                margin: 7px 0 10px;
            }
            .ratings {
                span {
                  font-size: 14px;
                }
             }
        }
        .single-product-desc {
            margin: 12px 0 15px;
        }
    }
    .product-more-option{
        margin: 20px 0;
        padding: 20px 0 22px;
    }
    .product-more-option-item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 0 15px;
        h5 {
            font-size:15px;
        }
        span,a{
            font-size:14px;
        }
    }
    //Checkout CSS
    .checkout-form {
        .checkout-form-box{
            padding: 20px 20px 5px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        .form-group {
            select{
                font-size: 14px;
            }
        }
    }
    //Accordion CSS
    .accordion-item .accordion-header .accordion-button {
        /* border-radius: 5px 5px 0 0; */
        font-size: 16px;
        line-height: 25px;
        padding: 15px 45px 15px 15px;
    }
    .accordion-item .accordion-header .accordion-button span {
        min-width: 45px;
        text-align: right;
    }
    .accordion-item .accordion-header .accordion-button span i {
        font-size: 20px;
        top: 22px;
    }
    //Blog Details CSS
    article,
    .service-desc,
    .project-desc,
    .terms-wrap{
        h1{
            font-size: 24px;
        }
        h2{
            font-size: 22px;
        }
        h3{
            font-size:20px;
        }
        h4{
            font-size: 18px;
        }
        h5{
            font-size: 16px;
        }
        h6{
            font-size: 16px;
        }
        h1,h2,h3,h4,h5,h6{
            margin-bottom: 15px;
        }
        ol{
            margin-top: 25px;
            margin-bottom: 25px;
        }
        ul,ol{
            li{
                font-size: 14px;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
             }    
         }
        .content-feature-list{
            margin: 15px 0 15px;
        }
    }
    .post-author .post-author-info h4 {
        font-size: 20px;
    }
    .wp-block-quote {
        padding: 25px;
        margin: 25px 0 25px;
        .wp-quote-text{
            width: calc(100% - 50px);
            margin-left: 25px;
            text-align: left;
        }
        .wp-quote-icon{
            width: 25px;
            height: auto;
            i {
                font-size: 34px;
            }
        }
       
    }
    .post-metainfo {
        margin-bottom: 25px;
        li {
            margin-bottom: 0;
        }
    }
    .post-img {
        margin: 0 0 25px;
    }
    .author-info-wrap {
        .author-info {
            h6 {
                font-size: 15px;
            }    
        }
     }
     .reply-btn {
         font-size: 14px;
         margin-top: 12px;
         padding: 12px 14px 12px;
     }
     .post-tag {
         margin-bottom: 15px;
        
         ul {
            li{
                a {
                    font-size: 13px;
                }
            }
         }
     }
     .post-author {
        padding: 20px;
        .post-author-img {
            width: 130px;
            height: 130px;
            border-radius: 50%;
        }
        .post-author-info {
            width: 100%;
            margin-left: 0;
            margin-top: 20px;
        }
    }
    .comment-box-wrap {
        padding: 20px;
    }
    .comment-item-wrap {
        .comment-item {
            padding-bottom: 20px;
            margin-bottom: 20px;
            &.reply{
                margin-left: 25px;
            }
            .comment-author-img {
                width: 55px;
                height: 55px;
            }
            .comment-author-wrap {
                width: 100%;
                margin-left: 0;
                margin-top: 20px;
                .comment-author-name{
                    h5{
                        font-size: 18px;
                        display: block;
                    }
                    .comment-date{
                        display: block;
                        margin-left: 0;
                        margin-top: 12px;
                        margin-bottom: 13px;
                        font-size: 14px;
                    }
                }
                .comment-text{
                    margin-bottom: 8px;
                }
            }
        }
    }
    #cmt-form {
         .comment-form{
             .form-group{
                 margin-bottom: 15px;
                 label{
                     font-size: 14px;
                 }
                 input{
                     height: 54px;
                 }
             }
            .form-check{
                margin-bottom: 15px;
            }
         }
     }
    .sidebar {
        .sidebar-widget {
            padding:20px;
            h4 {
                font-size: 18px;
                margin: 0 0 20px;
            }
        }
     }
    .category-box{
         ul{
             li{
                 &:first-child{
                     a{
                         i{
                             top: 4px;
                         }
                     }
                 }
                 a{
                     font-size: 14px;
                     padding:8px 10px 8px 20px;
                     i{
                         top: 12px;
                     }
                 }
             }
         }
    }
    .tag-list {
        ul {
            li {
                margin: 9px 6px 0px 0px;
            }    
        }
    }
    //Cart CSS
    .cart-table {
        width: 100%;
        overflow-x: auto;
    }
    .cart-table table thead tr th{
        font-size: 16px;
    }
    .cart-table table tbody tr td {
        padding: 15px;
    }
    .cart-table table tbody tr td .cart-item {
        font-size: 14px;
        line-height: 1.2;
    }
    .cart-table table tbody tr td .product-img{
        max-width: 120px;
        padding: 10px;
    }
    .cart-table table tbody tr td .cart-item span {
        margin-top: 5px;
    }
    .cart-table.style2 table td:nth-child(1) {
        min-width: 70px;
        padding-right: 15px;
    }
    .cart-table table td:nth-child(2),
    .cart-table table th:nth-child(2) {
        min-width: 170px;
    }
    .cart-table table tbody tr td .cart-item a,
    .cart-table table tbody tr td .cart-item-price {
        font-size: 14px;
    }
    .cart-total {
        padding: 18px 20px 20px;
    }
    //Contact CSS
    #contactForm {
        .form-group {
            input {
                height: 54px;
            }
            textarea {
                height: 120px;
            }
        }
    }
    .contact-content{
        .contact-info{
            li{
                p,a{
                    font-size: 14px;
                }
            }
        }
    }
    .checkbox{
        label {
            font-size: 14px;
            &:before{
                top:3px;
            }
        }
    }
    .checkbox input:checked + label::after {
        top: 6px;
    }
    .help-block {
        font-size: 14px;
    }
    //Account Section CSS
    .login-form-wrap {
        padding: 30px 20px 20px;
       .login-header {
           h3 {
               font-size: 20px;
           }
       }
       .login-body{
           .form-group{
               margin-bottom: 10px;
               label{
                   font-size: 14px;
                   margin-bottom: 5px;
               }
                input {
                height: 50px;
                }
           }
           .checkbox{
               label{
                   font-size: 13px;
               }
           }
           .btn{
               padding: 12px;
           }
           .link{
               font-size: 13px;
           }
       }
    }
    //Error Page
    .error-content {
        img{
            max-width:280px;
        }
        p {
            margin: 0 auto 20px;
            max-width: 300px;
        }
    }
}
@media only screen and (min-width: 768px){
    .section-title,
    .content-title{
        h2{
            line-height: 1.4;
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container-fluid{
        max-width: 720px;
        padding-left:15px;
        padding-right:15px;
    }
    .pt-100 {
        padding-top: 70px
    }

    .pb-100 {
        padding-bottom: 70px;
    }

    .mt-100 {
        margin-top: 70px!important;
    }

    .mb-100 {
        margin-bottom: 70px!important;
    }
    .mtb-100 {
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    }
    .pb-50 {
        padding-bottom: 20px
    }

    .pb-60 {
        padding-bottom: 35px;
    }

    .mt-100 {
        margin-top: 70px !important;
    }

    .smb-25 {
        margin-bottom: 25px;
    }

    .smb-70 {
        margin-bottom: 70px !important;
    }

    .ptb-100 {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .pt-70 {
        padding-top: 40px
    }

    .pb-70 {
        padding-bottom: 40px
    }

    .pb-75 {
        padding-bottom: 45px
    }

    .pb-50 {
        padding-bottom: 20px
    }

    .pt-75 {
        padding-top: 45px
    }
    .breadcrumb-title,
    .section-title,
    .content-title{
        h2{
            font-size: 32px;
        }
    }
    .breadcrumb-wrap {
        padding: 105px 0 30px;
        .breadcrumb-img{
            max-width: 350px;
        }
    }
     //Hero CSS
     .hero-wrap{
        .scroll-to-section{
            width: 50px;
            height: 50px;
            i{
                font-size: 30px;
            }
        }
        &.style1{
            padding: 120px 0 140px;
            .scroll-to-section{
                bottom: 50px;
            }
            .hero-content{
                margin-bottom: 30px;
                p{
                    max-width: 90%;
                }    
            }
        }
        &.style2{
            .scroll-to-section{
                bottom: -80px;
            }
            .hero-content{
                h1{
                    font-size: 50px;
                }
            }
            .container{
                padding-top: 160px;
                padding-bottom: 100px;
                .blur-text {
                    font-size: 180px;
                    line-height: 1;
                }
                .scroll-to-section {
                    bottom: 50px;
                }
            }
        }
        &.style3{
            margin-top: 64px;
            padding: 80px 0;
            .hero-content{
                h1{
                    font-size: 50px;
                }
            }
        }
    }
    //About CSS
    .about-wrap{
        &.style4{
            .about-content{
                padding: 0 0 70px;
            }
        }
        &.style2{
            padding: 70px 0 70px;
            .about-img-wrap{
                position: relative;
                bottom: auto;
                margin-bottom: 35px;
                img{
                    border-radius: 5px;
                    padding-right: 0;
                }
                &:after{
                    top: -20px;
                    left: -20px;
                }
            }
            .about-content{
                margin: 0;
            }
        }
    }
    //Contact Section CSS
    .contact-wrap{
        &.style2{
            .container{
                .contact-img-one{
                    left: 0px;
                    max-width:80px;
                }
                .contact-img-two{
                    bottom: 20px;
                    left: 0px;
                    max-width: 50px;
                }
                .contact-img-three{
                    right: 0px;
                    max-width:50px;
                }
                .contact-img-four{
                    bottom: 20px;
                    right: 0px;
                    max-width:80px;
                }
            }
        }
    }
    //CTA Section CSS
    .contact-wrap{
       .contact-bg{
           height: 450px;
       } 
       .contact-content{
           padding: 30px 0 70px;
           margin-bottom: 0;
       }
    }
    .error-wrap {
        margin-top: 70px;
    }
}
@media only screen and (max-width: 991px) {
    .page-wrapper{
        overflow-x: hidden!important;
    }
    .md-none {
        display: none !important;
    }
    .mt-60 {
        margin-top: 30px !important;
    }
    .md-center {
        text-align: center !important;
    }
    //Hero CSS
    .hero-wrap{
        &.style1{
            .hero-img-wrap {
                .hero-shape-one {
                    bottom: 15px;
                    left: calc(50% + 25px);
                    max-width: 45px;
                }
            }
        }
        &.style2{
            position: relative;
            z-index: 1;
            &:after{
                position: absolute;
                top:0;
                left: 0;
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                z-index: -1;
            }
        }
    }
    //About CSS
    .about-wrap{
        .about-img-wrap{
            margin-bottom: 30px;
        }
        &.style2{
            margin-top: 0;
            margin-bottom: 0;
            &:before,
            &:after{
               display: none;
            }
            .about-img-shape{
                display: none;
            }
            .about-img-wrap{
                position: relative;
                bottom: auto;
                margin-left: 0;
                padding: 25px 0 0 25px;
                img{
                    border-radius: 5px;
                    padding-right: 0;
                }
                &:after{
                    top: 0px;
                    left: 0px;
                }
            }
        }
    }
    //Testimonial CSS
    .testimonial-card{
        .client-gallery{
            margin-bottom: 25px;
        }
        &.style1{
            margin-top: 0;
            margin-bottom: 0;
            .client-gallery{
                margin-top: 0;
                width: 100%;
            }
            .client-text {
                background: transparent;
                border-radius: 0;
                box-shadow: none;
                padding: 25px 20px 20px;
                margin: 0;
                left: auto;
                border: 1px solid rgba(0, 0, 0, 0.09);
            }
            .client-quote{
                text-align: center;
             }
             .client-info-wrap{
                 justify-content: center;
                 .client-info{
                     width: auto;
                     text-align: left;
                 }
             }
        }
        &.style2{
            padding: 0;
            &:after{
               display: none;
            }
            .client-quote{
               text-align: center;
            }
            .client-info-wrap{
                justify-content: center;
                .client-info{
                    width: auto;
                    text-align: left;
                }
            }
        }
    }
    .testimonial-slider-one{
        &.style1{
            margin-bottom:0;
        }
        &.owl-carousel{
            .owl-nav{
                position: relative;
                bottom: 0;
                margin-top: 20px;
                text-align: center;
                justify-content: center;
                button{
                    &.owl-prev,
                    &.owl-next{
                        border: none;
                        width: auto;
                        height: auto;
                        i{
                            font-size: 30px;
                            font-weight: 300;
                            color: rgba(0, 0, 0, 0.4);
                            line-height: 0.4;
                        }
                        &:hover{
                            background-color: transparent;
                            i{
                                color: $clr_crimson;
                            }
                        }
                    }
                    &.owl-prev{
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    .testimonial-slider-three{
        &.owl-carousel {
            .owl-nav {
                position: relative;
                bottom: 0;
                margin-top: 20px;
                justify-content: center;
                left:auto;
            }
            .owl-dots {
                position: relative;
                bottom: 0;
                top: auto;
                margin-top: 20px;
                left: auto;
                text-align: center;
                justify-content: center;
            }
        }
    }
    //Contact CSS
    .contact-content{
        margin-bottom: 35px;
    }

    //Cart CSS
    .cart-total{
        margin-top: 25px;
    }
    //Shop Details CSS
    .single-product-details{
        margin-top: 30px;
    }
    .client-review-form{
        margin-top: 25px;
    }
    .service-desc{
        margin-bottom: 25px;
    }
    .service-details-img{
        margin-bottom: 25px;
    }
}
@media only screen and (min-width:992px) and (max-width:1199px) {
    .breadcrumb-title,
    .section-title,
    .content-title{
        h2{
            font-size: 35px;
        }
    }
    .breadcrumb-wrap {
        padding: 115px 0 30px;
        .breadcrumb-img{
            max-width: 350px;
        }
    }
    //Hero CSS
    .hero-wrap{
        &.style1{
            padding: 150px 0 70px;
        }
        &.style2{
            .scroll-to-section{
                bottom: -80px;
            }
            .hero-content{
                h1{
                    font-size: 58px;
                }
            }
            .container{
                padding-top: 140px;
                padding-bottom: 80px;
                .blur-text {
                    font-size: 150px;
                    line-height: 100px;
                }
                .scroll-to-section {
                    bottom: 50px;
                }
            }
        }
        &.style3{
            margin-top: 80px;
            padding: 100px 0;
            .hero-content{
                h1{
                    font-size: 58px;
                }
            }
        }
    }
    //About CSS
    .about-wrap.style2 .about-content {
        padding: 22px 30px 30px;
    }
    .about-wrap.style2 .about-img-shape {
        max-width: 526px;
    }
    //Testimonial CSS
    .testimonial-slider-one.owl-carousel .owl-nav {
        position: relative;
        bottom: 70px;
    }
    .testimonial-card.style2::after {
        top: 0;
    }
    .testimonial-slider-three.owl-carousel .owl-dots {
        top: 30px;
    }
    .testimonial-card{
        &.style1 {
            margin-top: 75px;
            .client-gallery {
                margin-top: -75px;
            }
            .client-text{
                padding: 40px 40px 40px;
            }
        }
    }
    //Contact Section CSS
    .contact-wrap{
        &.style2{
            .container{
                .contact-img-one{
                    left: 30px;
                }
                .contact-img-two{
                    bottom: 20px;
                    left: 30px;
                }
                .contact-img-three{
                    right: 30px;
                }
                .contact-img-four{
                    bottom: 20px;
                    right: 30px;
                }
            }
        }
    }
}
@media only screen and (max-width: 1199px) {
    .sidebar {
        margin: 50px 0 0;
    }
    //Service Card CSS
    .service-card{
        &.style3{
            border: 1px solid rgba(255,255,255,0.1);
        }
    }
    //Feature Card CSS
    .feature-card{
        border: 1px solid rgba(0, 0, 0, 0.09);
        &.style2{
            &.active,
            &:hover{
                background-color: $clr_white;
            }
        }
    }
    //Service CSS
    .service-card{
        &.style2{
            margin-top: 0;
        }
    }
}
@media only screen and (min-width:1200px) {
    .xl-none {
        display: none !important;
    }
    
    .content-title{
        p{
            padding-right: 25px;
        }
    }
    //Service Card CSS
    .service-card{
        &.style3{
            &.active{
                background-color: $clr_clay;
                .service-icon{
                    &:after{
                        background-color: $clr_shark;
                    }
                }
            }
        }
    }
    //Feature Card CSS
    .feature-card{
        &.active,
        &:hover{
            @include transform(translateY(-5px));
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
        }
        &.style2{
            &.active,
            &:hover{
                background-color: $clr_white;
            }
        }
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1280px) {
    .section-img.style2 {
        right: 10px;
        max-width: 60px;
    }
    .breadcrumb-wrap{
        .section-img {
            max-width: 140px;
        }
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .breadcrumb-title,
    .section-title,
    .content-title{
        h2{
            font-size: 40px;
        }
    }
    //Hero CSS
    .hero-wrap{
        &.style2{
            .container{
                .blur-text {
                    font-size: 200px;
                    line-height: 200px;
                }
            }
        }
        &.style3{
            padding: 120px 0;
            .hero-content{
                h1{
                    font-size: 64px;
                }
            }
        }
    }
    //About CSS
    .about-wrap.style2 .about-img-shape {
        max-width: 554px;
    }
    .feature-card .feature-info h3 {
        font-size: 20px;
    }
    //Testimonial CSS
    .testimonial-card.style3 .client-quote,
    .testimonial-card.style4 .client-quote {
        padding: 0 24px;
    }
    .testimonial-card{
        &.style1 {
            margin-top: 75px;
            .client-gallery {
                margin-top: -75px;
            }
        }
    }
}
@media only screen and (min-width: 1400px){
    .contact-wrap.style2 #contactForm {
        padding: 30px 75px 0;
    }
    .contact-wrap{
        &.style2{
            .container {
                .contact-img-one {
                    top: 52%;
                    left: 0;
                }
                .contact-img-two {
                    bottom: 10px;
                    left: 100px;
                    min-width: 100px;
                    -webkit-transform: rotate(18deg);
                    transform: rotate(18deg);
                }
                .contact-img-three {
                    top: 20%;
                    right: 10px;
                    -webkit-transform: rotate(20deg);
                    transform: rotate(20deg);
                    min-width: 100px;
                }
                .contact-img-four {
                    bottom: 220px;
                    right: 20px;
                   
                }
            }
        }
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
    //Hero CSS
    .hero-wrap{
       &.style1{
           .hero-content{
               h1{
                   font-size: 66px;
               }
           }
       }
       &.style2{
           .hero-content{
               h1{
                   font-size: 86px;
                }
            }
            .container{
                padding-top: 280px;
                padding-bottom: 220px;
                .blur-text {
                    font-size: 250px;
                    line-height: 200px;
                }
            }
        }
       &.style3{
            &:after{
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.71) 0%, rgba(0, 0, 0, 0.47) 73.3%);
            }
           .line-shape-wrap {
               max-width: 1280px;
           }
       }
   }
}
@media only screen and (min-width: 1600px) {
    .breadcrumb-title,
    .section-title,
    .content-title{
        h2{
            font-size: 48px;
            line-height: 60px;
            font-weight: 900;
        }
        p{
            margin-top: 25px;
        }
    }
    .breadcrumb-wrap{
        padding: 180px 0 65px;
       .container{
            max-width: 1540px;
            margin: 0 auto;
       }
    }
    .sidebar{
        .sidebar-widget{
            margin-bottom: 45px;
        }
    }
    //Card Title CSS
    .project-feature-card .project-feature-info h3,
    .team-card .team-info h3,
    .product-card .product-info h3,
    .service-card .service-info h3,
    .about-wrap.style3 .about-content .client-quote .client-info h3,
    .testimonial-card .client-info-wrap .client-info h3,
    .testimonial-card.style3 .client-info h3,
    .testimonial-card.style4 .client-info h3,
    .blog-card .blog-info h3{
        font-weight:900;
    }
    //Hero CSS
    .hero-wrap{
        .container{
            max-width: 1520px;
        }
        &.style1,
        &.style2,
        &.style3{
            .hero-content{
                span{
                    font-size: 16px;
                    line-height: 30px;
                    margin-bottom: 0;
                }
                h1{
                    margin-top: -10px;
                }
                p{
                    font-size: 18px;
                    line-height: 32px;
                }
            }
        }
        &.style1{
            .hero-content{
                h1{
                    font-size: 82px;
                    line-height: 110px;
                    font-weight: 900;
                }
                .btn{
                    padding: 18px 30px;
                }
            }
            .scroll-to-section{
                bottom: 105px;
                width: 70px;
                height: 70px;
            }
            .hero-img-wrap{
                margin-left: 50px;
            }
        }
        &.style2{
            .hero-content{
                h1{
                    font-size: 102px;
                }
                p{
                    max-width: 90%;
                }
            }
            .container{
               padding-top: 345px;
               padding-bottom: 325px;
                .blur-text {
                    font-size: 325px;
                    line-height: 300px;
                }
            }
        }
        &.style3{
            padding: 230px 0 220px;
            &:after{
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.71) 0%, rgba(0, 0, 0, 0.27) 83.3%);
            }
            .line-shape-wrap {
                max-width: 1520px;
            }
            .hero-content{
                h1{
                    font-size: 98px;
                    line-height: 120px;
                    font-weight: 900;
                }
            }
        }
    }
    //About CSS
    .about-wrap{
        &.style1{
            .about-img-wrap{
                margin-right: 25px;
            }
            .about-content {
                .content-feature-list {
                    li {
                        padding-left: 31px;
                    }
                }
            }
        }
        &.style2{
            .about-content {
                padding: 100px 60px;
            }
        }
        &.style3{
            .about-img-wrap{
                margin-right: 15px;
            }
            .client-quote{
                p{
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
        &.style4{
            .about-content{
                margin-left: 50px;
            }
        }
    }
    //Service Card CSS
    .service-card{
        &.style1,
        &.style2{
            .service-info{
                padding: 25px 30px 35px;
            }
        }
        &.style3,
        &.style4{
            padding: 35px 30px;
        }
    }
    //CTA Section CSS
    .contact-wrap .contact-content {
        padding: 100px 0 100px 40px;
    }
    .cta-wrap.style1 .cta-content {
        padding: 95px 60px 95px 100px;
        width: calc(100% + 50px);
        left: -50px;
    }
    .cta-wrap.style2 .cta-content .content-title p {
        padding-right: 80px;
    }
    .cta-wrap.style1:before {
        left: 43%;
    }
    .cta-wrap.style1:after {
        right: 57%;
    }
    //Feature Card CSS
    .feature-card{
        padding: 35px 30px;
    }
    //Blog Card CSS
    .blog-card.style3 .blog-info {
        padding: 25px 30px 30px 35px;
    }
    //Blog Details CSS
    article{
        h1{
            font-size: 50px;
            line-height: 65px;
        }
    }
    .comment-box-wrap {
        padding: 45px 45px;
    }
    .comment-box-title h4 {
        font-size: 30px;
        font-weight: 900;
    }
    //Video CSS
    .video-wrap {
        background-image: url(../img/video-bg-2.jpg);
        padding: 325px 0;
    }
    //Team CSS
    .team-card{
        margin-bottom: 25px;
        .team-info{
            .social-profile{
                margin-top: 25px;
                li{
                    a{
                        width: 50px;
                        height: 50px;
                        i{
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
    //Project Card CSS
    .project-card{
        &.style2{
            .project-info h3 {
                font-size: 30px;
            }
        }
    }
    //testimonial CSS
    .testimonial-card{
        &.style2{
            .client-info-wrap{
                padding-bottom: 30px;
                .client-info{
                    width: calc(100%  - 108px);
                    margin-left: 28px;
                }
            }
        }
        &.style2{
            padding: 0px 0 35px 75px;
            .client-quote{
                margin-bottom: 30px;
            }
        }
        &.style3,
        &.style4 {
            .client-quote {
                padding: 0 30px;
                font-size: 18px;
                line-height: 36px;
            }
        }
        &.style4{
            padding: 30px;
        }
    }
    .testimonial-slider-three{
        &.owl-carousel {
            .owl-nav {
                bottom: 68px;
                left: calc(50% - 100px);
            }
            .owl-dots{
                top: 120px;
                left: 75px;
            }
        }
    }
    //Sidebar Widget css
    .sidebar{
        .sidebar-widget{
            padding: 35px;
        }
    }
    .category-box{
        ul{
            li{
                &:first-child{
                    a{
                        i{
                            top: 4px;
                        }
                    }
                }
                a{
                    padding-left: 35px;
                    i{
                        font-size: 17px;
                    }
                }
            }
        }
    }
    .page-nav{
        li{
            a{
                width: 55px;
                height: 55px;
                font-size: 18px;
                line-height: 58px;
            }
        }
    }
    .search-box{
        .form-group{
            input{
                height: 70px;
            }
            button{
                padding: 0 25px;
                i{
                    font-size: 24px;
                }
            }
        }
    }
    //Service Details CSS
    .service-desc{
        h2{
            font-size: 48px;
            margin-bottom: 20px;
        }
        h3{
            font-size: 32px;
        }
        p{
            font-size: 16px;
            line-height: 26px;
        }
        .content-feature-list{
            margin: 0!important;
            li{
                font-size: 16px;
                line-height: 26px;
                &:before{
                    top: 9px;
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    .project-desc{
        h1{
            font-size: 52px;
            line-height: 68px;
        }
    }
    //Product Card CSS
    .product-card{
        .product-info{
            padding: 35px 30px 40px;
        }
        .product-img{
            padding: 40px 20px;
            img{
                max-width: 250px;
            }
        }
        .btn{
            &.style1{
                padding: 13px 32px;
            }
        }
    }
    .product-filter-wrap{
        padding: 35px;
        margin-bottom: 50px;
    }
    .product-more-option-item .add-to-cart {
        font-size: 16px;
        padding: 13px 30px 13px;
    }
    .product-tab-content {
        .product_desc{
            margin: 0 80px;
        }
    }
    .cart-table table tbody tr td .product-img {
        max-width: 136px;
    }
    .checkout-form .checkout-form-box {
        padding: 35px 45px 35px;
        border-radius: 5px;
    }
    .cart-table table tbody tr td .product-img img {
        max-width: 50px;
    }
    .cart-table.style2 table tbody tr td .cart-item-price {
        font-size: 18px;
    }
    .checkout-form{
        .form-group {
            margin-bottom: 20px;
            input,
            select{
                height: 70px;
            }
        }
    }
    .login-form-wrap .login-form .form-group input {
        height: 70px;
        padding: 10px 20px;
    }
    .login-form-wrap {
        padding: 45px;
    }
}
@media only screen and (min-width:1920px) {
    //Hero CSS
    .breadcrumb-wrap,
    .hero-wrap{
        .container{
            max-width: 1660px;
        }
    }
}